{% extends 'admin/base.html' %}
{% load static %}
{% block content %}
    {% include 'admin/header.html' %}
        <!-- BEGIN: Content -->
    <div class="content">
            <div class="flex items-center mt-8">
        <!-- <h2 class="intro-y text-lg font-medium mr-auto"></h2> -->
    </div>
    <!-- BEGIN: Wizard Layout -->
    <div class="intro-y box py-10 sm:py-20 mt-5">
        <h2 style=" font-size: 30px; font-weight: 500; text-align: center;
        color: #1e40af;">{{ album.Album_Title }} ({{ album.Album_Category }})</h2>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="px-5 sm:px-20 mt-10 pt-10 border-t border-slate-200/60 dark:border-darkmode-400">
                <!-- <div class="font-medium text-base">Add / Manage Products</div> -->
                <div class="grid grid-cols-12 gap-4 gap-y-5 mt-5"> 

                    {% for image in images %}
                    <div class="intro-y sm:col-span-3">
                        <div class="w-48 h-48 relative image-fit mb-5 mr-5 cursor-pointer zoom-in mr-5">
                            <img class="rounded-md" alt="" src="{{ image.Image.url }}">
                            <!-- <div title="Remove this image?" class="tooltip w-5 h-5 flex items-center justify-center absolute rounded-full text-white bg-danger right-0 top-0 -mr-2 -mt-2"> <i data-lucide="x" class="w-4 h-4" data-tw-toggle="modal" data-tw-target="#delete-modal" onclick="delete_image('{{image.id}}')"></i> </div> -->
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </form>
    </div>
    <!-- END: Wizard Layout -->
    </div>
    <!-- END: Content -->
    <style>
        .dark-mode-switcher{
            display: none;
        }
        
    </style>
    <!-- END: Delete Confirmation Modal -->
        <!-- BEGIN: Dark Mode Switcher-->
        <div data-url="top-menu-dark-regular-form.html" class="dark-mode-switcher cursor-pointer shadow-md fixed bottom-0 right-0 box border rounded-full w-40 h-12 flex items-center justify-center z-50 mb-10 mr-10">
            <div class="mr-4 text-slate-600 dark:text-slate-200">Dark Mode</div>
            <div class="dark-mode-switcher__toggle border"></div>
        </div>
        <!-- END: Dark Mode Switcher-->
    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <script src="{% static 'js/url.js' %}"></script>
{% endblock content %}