{% load static %}
<!DOCTYPE html>

<html lang="en" class="light">
    <!-- BEGIN: Head -->
    <head>
        <meta charset="utf-8">
        <link href="{% static 'images/wiras-favicon.png' %}" rel="shortcut icon">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="">
        <title>Wiras</title>
        <!-- BEGIN: CSS Assets-->
        <link rel="stylesheet" href="{% static 'css/app.css' %}" />
        <!-- END: CSS Assets-->
    </head>
    <!-- END: Head -->
    <body class="py-5">

    {% block content %}

    {% endblock content %}

    <!-- BEGIN: JS Assets-->
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=["your-google-map-api"]&libraries=places"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <script src="{% static 'js/app.js' %}"></script>
    <script src="{% static 'js/url.js' %}"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/35.3.2/classic/ckeditor.js"></script>
    <script>
        ClassicEditor
        .create( document.querySelector( '#editor' ) )
        .then( editor => {
        console.log( editor );
        } )
        .catch( error => {
        console.error( error );
        } );

        ClassicEditor
        .create( document.querySelector( '#vision' ) )
        .then( editor => {
        console.log( editor );
        } )
        .catch( error => {
        console.error( error );
        } );

        ClassicEditor
        .create( document.querySelector( '#mission' ) )
        .then( editor => {
        console.log( editor );
        } )
        .catch( error => {
        console.error( error );
        } );

        ClassicEditor
        .create( document.querySelector( '#description' ) )
        .then( editor => {
        console.log( editor );
        } )
        .catch( error => {
        console.error( error );
        } );

        ClassicEditor
        .create( document.querySelector( '#facilities' ) )
        .then( editor => {
        console.log( editor );
        } )
        .catch( error => {
        console.error( error );
        } );

        ClassicEditor
        .create( document.querySelector( '#placement' ) )
        .then( editor => {
        console.log( editor );
        } )
        .catch( error => {
        console.error( error );
        } );
    </script>
    <!-- END: JS Assets-->
    </body>
</html>