{% extends 'admin/base.html' %}
{% load static %}
{% block content %}
    <body class="py-5">
         <style>
            .form-control {
                margin-bottom: 14px;
            }
        </style>
        {% include 'admin/header.html' %}
  <!-- BEGIN: Content -->
        <div class="content">
            <div class="intro-y items-center mt-8">
                <h2 style="text-align: center;font-size: 30px;color:#1e40af;padding-top: 30px;padding-bottom: 30px;">Change Password</h2>
            </div>
            <div class=" items-center" style="margin-right:auto; margin-left: auto; display: block;">
                <!-- BEGIN: Profile Menu -->
               
                <!-- END: Profile Menu -->
                <div class="col-span-12 lg:col-span-12 2xl:col-span-12"  >
                    <!-- BEGIN: Change Password -->
                    <div class="intro-y box lg:mt-5" >
                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="p-5" >
                                <!-- <div class="col-md-6 col-sm-6 col-xs-12 col-12">
                                    <label for="change-password-form-1" class="form-label">Old Password <span style="color:red;">*</span></label>
                                    <input id="change-password-form-1" type="password" class="form-control" placeholder="Input text">
                                </div> -->
                                <div class="col-md-6 col-sm-6 col-xs-12 col-12 mt-3">
                                    <label for="change-password-form-2" class="form-label">New Password <span style="color:red;">*</span></label>
                                    <input id="change-password-form-2" type="password" name="password1" class="form-control" placeholder="Input text">
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12 col-12 mt-3">
                                    <label for="change-password-form-3" class="form-label">Confirm New Password <span style="color:red;">*</span></label>
                                    <input id="change-password-form-3" name="password2" type="password" class="form-control" placeholder="Input text">
                                </div>
                                {% if messages %}
                                    {% for message in messages %}
                                        <p class="text-danger">{{message}}</p>
                                    {% endfor %}
                                {% endif %}
                                <button type="submit" class="btn btn-primary mt-4">Change Password</button>
                            </div>
                        </form>
                    </div>
                    <!-- END: Change Password -->
                </div>
            </div>
        </div>
        <!-- END: Content -->
        <style>
        .dark-mode-switcher{
            display: none;
        }
        
    </style>
    </body>
{% endblock content %}