{% extends 'admin/base.html' %}
{% load static %}
{% block content %}
    {% include 'admin/header.html' %}
        <!-- BEGIN: Content -->
    <div class="content">
    <div class="flex items-center mt-8">
        <!-- <h2 class="intro-y text-lg font-medium mr-auto"></h2> -->
    </div>
    {% if messages %}
        <div class="mt-6 mb-6 intro-y">
            {% for message in messages %}<div class="alert alert-danger text-white show flex items-center mb-2" role="alert"> <i data-lucide="alert-circle" class="w-6 h-6 mr-2"></i>{{message}}<button type="button" class="btn-close text-white" data-tw-dismiss="alert" aria-label="Close"> <i data-lucide="x" class="w-4 h-4"></i> </button></div>{% endfor %}
        </div>
    {% endif %}
    <!-- BEGIN: Wizard Layout -->
    <div class="intro-y box py-10 sm:py-20 mt-5">
        <h2 style=" font-size: 30px; font-weight: 500; text-align: center;
        color: #1e40af;">Add Course</h2>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="px-5 sm:px-20 mt-10 pt-10 border-t border-slate-200/60 dark:border-darkmode-400">
                <!-- <div class="font-medium text-base">Add / Manage Products</div> -->
                <div class="grid grid-cols-12 gap-4 gap-y-5 mt-5"> 
                    <div class="intro-y col-span-12 sm:col-span-6">
                        <!-- <div class="mt-3"> -->
                        <label>Select Course Type</label>
                        <div class="mt-2">
                            <select data-placeholder="Select type" class="form-control" name="type" required>
                                <option value="">Select Course type</option>
                                <option value="UG Course">UG Course</option>
                                <option value="PG Course">PG Course</option>
                                <option value="Other">Other</option>
                            </select>
                        </div>
                        <!-- </div> -->
                    </div>

                    <div class="intro-y col-span-12 sm:col-span-6">
                        <!-- <div class="mt-3"> -->
                        <label>Select Department</label>
                        <div class="mt-2">
                            <select data-placeholder="Select Category" class="form-control" name="department" required>
                                <option value="General">Select Departments</option>
                                {% for department in departments %}
                                    <option value="{{ department.id }}">{{ department.Department_Title }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <!-- </div> -->
                    </div>

                    <div class="intro-y col-span-12 sm:col-span-6">
                        <label for="input-wizard-2" class="form-label">Course Title</label>
                        <input id="title" type="text" class="form-control" placeholder="Enter Course title here" name="title" required>
                    </div>

                    <div class="intro-y col-span-12 sm:col-span-6">
                        <label for="input-wizard-3" class="form-label">Attach Image</label>
                        <input id="input-wizard-3" type="file" class="form-control" name="image" >
                    </div>

                    <div class="intro-y col-span-12 sm:col-span-6">
                        <label for="input-wizard-2" class="form-label">Course Subject</label>
                        <input type="text" class="form-control" placeholder="Enter course subject here" name="subject">
                    </div>

                    <div class="intro-y col-span-12 sm:col-span-6">
                        <label for="input-wizard-2" class="form-label">Complimentary Subject</label>
                        <input type="text" class="form-control" placeholder="Enter course complimentary subject here" name="complimentary">
                    </div>

                    <div class="intro-y col-span-12 sm:col-span-6">
                        <label for="input-wizard-2" class="form-label">Course Duration</label>
                        <input type="text" class="form-control" placeholder="Enter course duration here" name="duration">
                    </div>

                    <div class="intro-y col-span-12 sm:col-span-6">
                        <label for="input-wizard-2" class="form-label">Total seats</label>
                        <input type="number" class="form-control" placeholder="Enter total seats" name="seats">
                    </div>

                    <div class="intro-y col-span-12 sm:col-span-6">
                        <label for="input-wizard-3" class="form-label">Attach Syllabus</label>
                        <input id="input-wizard-3" type="file" class="form-control" name="syllabus" >
                    </div>

                    <div class="intro-y col-span-12">
                        <h2 style=" font-size: 20px; font-weight: 500; text-align: center; color: #1e40af;">SEO</h2>
                    </div>

                    <div class="intro-y col-span-12 sm:col-span-4">
                        <label for="input-wizard-2" class="form-label">Url</label>
                        <input name="seo_url" id="seo_url" type="text" class="form-control" placeholder="Enter seo url" required>
                    </div>

                    <div class="intro-y col-span-12 sm:col-span-4">
                        <label for="input-wizard-2" class="form-label">Seo Title</label>
                        <input name="seo_title" id="input-wizard-2" type="text" class="form-control" placeholder="Enter seo title">
                    </div>

                    <div class="intro-y col-span-12 sm:col-span-4">
                        <label for="input-wizard-2" class="form-label">Seo Keywords</label>
                        <input name="seo_keywords" id="input-wizard-2" type="text" class="form-control" placeholder="Enter seo keyword">
                    </div>

                    <div class="intro-y col-span-12">
                        <label for="input-wizard-3" class="form-label">Seo Description</label>
                        <textarea name="seo_description" cols="30" rows="5" class="form-control" placeholder="Enter seo description"></textarea>
                    </div>
                    
                    <div class="intro-y col-span-12 flex items-center justify-center sm:justify-end mt-5">
                        <!-- <button class="btn btn-secondary w-24">Add</button> -->
                        <button class="btn btn-primary w-24 ml-2" type="submit">Submit</button>
                    </div>

                </div>
            </div>
        </form>
    </div>
    <!-- END: Wizard Layout -->
    </div>
    <!-- END: Content -->
    <style>
        .dark-mode-switcher{
            display: none;
        }
        
    </style>
        <!-- BEGIN: Dark Mode Switcher-->
        <div data-url="top-menu-dark-regular-form.html" class="dark-mode-switcher cursor-pointer shadow-md fixed bottom-0 right-0 box border rounded-full w-40 h-12 flex items-center justify-center z-50 mb-10 mr-10">
            <div class="mr-4 text-slate-600 dark:text-slate-200">Dark Mode</div>
            <div class="dark-mode-switcher__toggle border"></div>
        </div>
        <!-- END: Dark Mode Switcher-->
    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <script src="{% static 'js/url.js' %}"></script>
{% endblock content %}