{% extends 'admin/base.html' %}
{% load static %}
{% block content %}
    {% include 'admin/header.html' %}
        <!-- BEGIN: Content -->
    <div class="content">
            <div class="flex items-center mt-8">
        <!-- <h2 class="intro-y text-lg font-medium mr-auto"></h2> -->
    </div>
    <!-- BEGIN: Wizard Layout -->
    <div class="intro-y box py-10 sm:py-20 mt-5">
        <h2 style=" font-size: 30px; font-weight: 500; text-align: center;
        color: #1e40af;">Edit Department</h2>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="px-5 sm:px-20 mt-10 pt-10 border-t border-slate-200/60 dark:border-darkmode-400">
                <!-- <div class="font-medium text-base">Add / Manage Products</div> -->
                <div class="grid grid-cols-12 gap-4 gap-y-5 mt-5"> 

                    <div class="intro-y col-span-12 sm:col-span-6">
                        <label for="input-wizard-2" class="form-label">Department Title</label>
                        <input value="{{ department.Department_Title }}" id="title" type="text" class="form-control" placeholder="Enter department title here" name="title" required>
                    </div>

                    <div class="intro-y col-span-12 sm:col-span-3">
                        <label for="input-wizard-2" class="form-label">Department Logo</label>
                        <input id="title" type="file" class="form-control" name="logo">
                    </div>

                    <div class="w-24 h-24 relative image-fit mb-5 mr-5 cursor-pointer zoom-in mr-5">
                        {% if department.Department_Logo %}
                            <img class="rounded-md" alt="" src="{{ department.Department_Logo.url }}">
                            <div title="Remove this image?" class="tooltip w-5 h-5 flex items-center justify-center absolute rounded-full text-white bg-danger right-0 top-0 -mr-2 -mt-2"> <i data-lucide="x" class="w-4 h-4" data-tw-toggle="modal" data-tw-target="#delete-modal"></i> </div>
                        {% endif %}
                    </div>

                    <div class="intro-y col-span-12 sm:col-span-12">
                        <label for="input-wizard-3" class="form-label">Vision</label>
                        <textarea name="vision" id="vision" cols="30" rows="5" class="form-control" placeholder="Enter department vision & mission">{{ department.Department_Vission }}</textarea>
                    </div>

                    <div class="intro-y col-span-12 sm:col-span-12">
                        <label for="input-wizard-3" class="form-label">Mission</label>
                        <textarea name="mission" id="mission" cols="30" rows="5" class="form-control" placeholder="Enter department vision & mission">{{ department.Department_Mission }}</textarea>
                    </div>

                    <div class="intro-y col-span-12 sm:col-span-12">
                        <label for="input-wizard-3" class="form-label">Description</label>
                        <textarea name="description" id="description" cols="30" rows="5" class="form-control" placeholder="Enter department description">{{ department.Department_Description }}</textarea>
                    </div>

                    <div class="intro-y col-span-12">
                        <label for="input-wizard-3" class="form-label">Facilities</label>
                        <textarea name="facilities" id="facilities" cols="30" rows="5" class="form-control" placeholder="Enter department facilities">{{ department.Department_Fecilities }}</textarea>
                    </div>

                    <div class="intro-y col-span-12">
                        <label for="input-wizard-3" class="form-label">Placement & Higher study</label>
                        <textarea name="placement" id="placement" cols="30" rows="5" class="form-control" placeholder="Enter placement & higher study">{{ department.Department_Placement }}</textarea>
                    </div>

                    <div class="intro-y col-span-12">
                        <h2 style=" font-size: 20px; font-weight: 500; text-align: center; color: #1e40af;">SEO</h2>
                    </div>

                    <div class="intro-y col-span-12 sm:col-span-4">
                        <label for="input-wizard-2" class="form-label">Url</label>
                        <input value="{{ department.Seo_Url }}" name="seo_url" id="seo_url" type="text" class="form-control" placeholder="Enter seo url" required>
                    </div>

                    <div class="intro-y col-span-12 sm:col-span-4">
                        <label for="input-wizard-2" class="form-label">Seo Title</label>
                        <input name="seo_title" id="input-wizard-2" type="text" class="form-control" placeholder="Enter seo title">
                    </div>

                    <div class="intro-y col-span-12 sm:col-span-4">
                        <label for="input-wizard-2" class="form-label">Seo Keywords</label>
                        <input name="seo_keyword" id="input-wizard-2" type="text" class="form-control" placeholder="Enter seo keyword">
                    </div>

                    <div class="intro-y col-span-12">
                        <label for="input-wizard-3" class="form-label">Seo Description</label>
                        <textarea name="seo_description" id="" cols="30" rows="5" class="form-control" placeholder="Enter seo description"></textarea>
                    </div>
                    
                    <div class="intro-y col-span-12 flex items-center justify-center sm:justify-end mt-5">
                        <!-- <button class="btn btn-secondary w-24">Add</button> -->
                        <button class="btn btn-primary w-24 ml-2" type="submit">Submit</button>
                    </div>

                </div>
            </div>
        </form>
    </div>
    <!-- END: Wizard Layout -->
    </div>
    <!-- END: Content -->
    <!-- BEGIN: Delete Confirmation Modal -->
    <div id="delete-modal" class="modal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body p-0">
                    <div class="p-5 text-center">
                        <i data-lucide="x-circle" class="w-16 h-16 text-danger mx-auto mt-3"></i>
                        <div class="text-3xl mt-5">Are you sure?</div>
                        <div class="text-slate-500 mt-2">Do you really want to delete these records? <br>This process cannot be undone.</div>
                    </div>
                    <div class="px-5 pb-8 text-center">
                        <button type="button" data-tw-dismiss="modal" class="btn btn-outline-secondary w-24 mr-1">Cancel</button>
                        <a href="{% url 'remove-department-image' department.id %}"><button type="submit" class="btn btn-danger w-24">Delete</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END: Delete Confirmation Modal -->
    <style>
        .dark-mode-switcher{
            display: none;
        }
        
    </style>
        <!-- BEGIN: Dark Mode Switcher-->
        <div data-url="top-menu-dark-regular-form.html" class="dark-mode-switcher cursor-pointer shadow-md fixed bottom-0 right-0 box border rounded-full w-40 h-12 flex items-center justify-center z-50 mb-10 mr-10">
            <div class="mr-4 text-slate-600 dark:text-slate-200">Dark Mode</div>
            <div class="dark-mode-switcher__toggle border"></div>
        </div>
        <!-- END: Dark Mode Switcher-->
    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <script src="{% static 'js/url.js' %}"></script>
{% endblock content %}