{% extends 'admin/base.html' %}
{% load static %}
{% block content %}
    {% include 'admin/header.html' %}  
     <!-- BEGIN: Content -->
    <div class="content">
            <div class="flex items-center mt-8"></div>

    <!-- BEGIN: Wizard Layout -->
    <div class="intro-y box py-10 sm:py-20 mt-5">
<style>
    .title{
    font-size: 16px;
    color: #1E40AF;
    font-weight: 700;
    }
    .head{
            font-weight: 500;
        color: #455dbe;
    }
</style>
    
<h2 class="intro-y text-lg font-medium mt-10" style="text-align: center;font-size: 35px;color:#1e40af;padding-top: 30px;padding-bottom: 30px;border-bottom: solid 1px #bcbcbc21;">faculty Informations</h2>

   <!-- BEGIN: General Report -->
    <div class="col-span-12 xl:col-span-9 mt-8">
        
        <div class="report-box-2 intro-y mt-5">
            <div class="box grid grid-cols-12">
                <div class="col-span-12 lg:col-span-4 px-8 py-12 flex flex-col justify-center" style="    background: #d4e1ff;">
                    <!-- <i data-lucide="pie-chart" class="w-10 h-10 text-pending"></i>  -->
                    <div class="justify-start flex items-center text-slate-600 dark:text-slate-300"> </div>
                    <div class="flex items-center justify-start mt-4">
                        <div class="relative text-2xl font-medium ml-0.5"> <span class="absolute text-xl font-medium top-0 left-0 -ml-0.5"></span>{{ faculty.faculty_Title }}</div>
                        <a class="text-slate-500 ml-4" href=""></a>
                    </div>
                    <!-- <div class="mt-4 text-slate-500 text-xs">Last updated 1 hour ago</div> -->
                    <div class="mt-1.5 flex items-center">
                        {% if faculty.Faculty_Image %}
                            <img class="rounded-md" width="200px" height="200px" alt="" src="{{ faculty.Faculty_Image.url }}">
                            <!-- <div title="Remove this image?" class="tooltip w-60 h-60 flex items-center justify-center absolute rounded-full text-white bg-danger right-0 top-0 -mr-2 -mt-2"> <i data-lucide="x" class="w-4 h-4" data-tw-toggle="modal" data-tw-target="#delete-modal"></i> </div> -->
                        {% endif %}
                    </div>
                    <button class="btn btn-outline-secondary relative justify-start rounded-full w-60 mt-12 text-center" style="    background: #36a920; color:#fff;">
                        Edit Faculty
                    <span class="w-8 h-8 absolute flex justify-center items-center  text-white rounded-full right-0 top-0 bottom-0 my-auto ml-auto mr-0.5"> <i data-lucide="arrow-right" class="w-4 h-4"></i> </span>
                    </button>
                </div>
                <div class="col-span-12 lg:col-span-8 p-8 border-t lg:border-t-0 lg:border-l border-slate-200 dark:border-darkmode-300 border-dashed">
                    
                    <div class="tab-content px-5 pb-5">
                        <div class="tab-pane active grid grid-cols-12 gap-y-8 gap-x-10" id="weekly-report" role="tabpanel" aria-labelledby="weekly-report-tab">
                            <div class="col-span-6 sm:col-span-6 md:col-span-4">
                                <div class="text-slate-500 head">Faculty Name</div>
                                <div class="mt-1.5 flex items-center">
                                    <div class="text-base">{{ faculty.Faculty_Name }}</div>
                                    
                                </div>
                            </div>
                            <div class="col-span-12 sm:col-span-6 md:col-span-4">
                                <div class="text-slate-500 head">Faculty Department</div>
                                <div class="mt-1.5 flex items-center">
                                    <div class="text-base">{{ faculty.Faculty_Department.Department_Title }}</div>
                                </div>
                            </div>
                            <div class="col-span-12 sm:col-span-6 md:col-span-4">
                                <div class="text-slate-500 head">Faculty Designation</div>
                                <div class="mt-1.5 flex items-center">
                                    <div class="text-base">{{ faculty.Faculty_Designation }}</div>
                                </div>
                            </div>
                            <div class="col-span-4">
                                <div class="text-slate-500 head">Faculty Qualification</div>
                                <div class="mt-1.5 flex items-center">
                                    <div class="text-base">{{ faculty.Faculty_Qualification }}</div>
                                </div>
                            </div>
                            <div class="col-span-4">
                                <div class="text-slate-500 head">Faculty Email</div>
                                <div class="mt-1.5 flex items-center">
                                    <div class="text-base">{{ faculty.Faculty_Email }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END: General Report -->
</div>
{% endblock content %}