{% load static %}
<!-- BEGIN: Mobile Menu -->
        <div class="mobile-menu md:hidden">
            <div class="mobile-menu-bar">
                <a href="" class="flex mr-auto">
                    <img alt="" class="w-6" src="">
                </a>
                <a href="javascript:;" class="mobile-menu-toggler"> <i data-lucide="bar-chart-2" class="w-8 h-8 text-white transform -rotate-90"></i> </a>
            </div>
            <div class="scrollable">
                <a href="javascript:;" class="mobile-menu-toggler"> <i data-lucide="x-circle" class="w-8 h-8 text-white transform -rotate-90"></i> </a>
                <ul class="scrollable__content py-2">
                    <li>
                        <a href="javascript:;" class="menu menu--active">
                            <div class="menu__icon"> <i data-lucide="home"></i> </div>
                            <div class="menu__title"> Dashboard <i data-lucide="chevron-down" class="menu__sub-icon transform rotate-180"></i> </div>
                        </a>
                        
                    </li>
                    <li>
                        <a href="javascript:;" class="menu">
                            <div class="menu__icon"> <i data-lucide="box"></i> </div>
                            <div class="menu__title"> Products <i data-lucide="chevron-down" class="menu__sub-icon "></i> </div>
                        </a>
                        <ul class="">
                            <li>
                                <a href="" class="menu menu--active">
                                    <div class="menu__icon"> <i data-lucide="box"></i> </div>
                                    <div class="menu__title"> Add/Manage Category </div>
                                </a>
                            </li>
                            <li>
                                <a href="" class="menu menu--active">
                                    <div class="menu__icon"> <i data-lucide="box"></i> </div>
                                    <div class="menu__title"> Add/Manage Products </div>
                                </a>
                            </li>
                            
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;" class="menu">
                            <div class="menu__icon"> <i data-lucide="shopping-bag"></i> </div>
                            <div class="menu__title"> Salesman <i data-lucide="chevron-down" class="menu__sub-icon "></i> </div>
                        </a>
                        <ul class="">
                            <li>
                                <a href="" class="menu">
                                    <div class="menu__icon"> <i data-lucide="activity"></i> </div>
                                    <div class="menu__title"> Create Salesman </div>
                                </a>
                            </li>
                            <li>
                                <a href="" class="menu">
                                    <div class="menu__icon"> <i data-lucide="activity"></i> </div>
                                    <div class="menu__title"> Edit Salesman </div>
                                </a>
                            </li>
                            <li>
                                <a href="" class="menu">
                                    <div class="menu__icon"> <i data-lucide="activity"></i> </div>
                                    <div class="menu__title"> Assign Monthly Target <i data-lucide="chevron-down" class="menu__sub-icon "></i> </div>
                                </a>
                                
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="menu">
                            <div class="menu__icon"> <i data-lucide="inbox"></i> </div>
                            <div class="menu__title"> Leads </div>
                        </a>
                        <ul class="">
                            <li>
                                <a href="" class="menu">
                                    <div class="menu__icon"> <i data-lucide="file-plus"></i> </div>
                                    <div class="menu__title"> Create Lead </div>
                                </a>
                            </li>
                            <li>
                                <a href="" class="menu">
                                    <div class="menu__icon"> <i data-lucide="activity"></i> </div>
                                    <div class="menu__title"> Manage Lead </div>
                                </a>
                            </li>
                            <li>
                                <a href="" class="menu">
                                    <div class="menu__icon"> <i data-lucide="activity"></i> </div>
                                    <div class="menu__title"> Edit Lead <i data-lucide="chevron-down" class="menu__sub-icon "></i> </div>
                                </a>
                                
                            </li>
                            <li>
                                <a href="" class="menu">
                                    <div class="menu__icon"> <i data-lucide="activity"></i> </div>
                                    <div class="menu__title"> View Lead <i data-lucide="chevron-down" class="menu__sub-icon "></i> </div>
                                </a>
                                
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="" class="menu">
                            <div class="menu__icon"> <i data-lucide="hard-drive"></i> </div>
                            <div class="menu__title"> Opportunity </div>
                        </a>
                        
                    </li>
                    <li>
                        <a href="" class="menu">
                            <div class="menu__icon"> <i data-lucide="edit"></i> </div>
                            <div class="menu__title"> Clients <i data-lucide="chevron-down" class="menu__sub-icon "></i> </div>
                        </a>
                        <ul class="">
                             <a href="" class="menu">
                            <div class="menu__icon"> <i data-lucide="edit"></i> </div>
                            <div class="menu__title"> View Clients </div>
                            </a>
                            <a href="" class="menu">
                            <div class="menu__icon"> <i data-lucide="edit"></i> </div>
                            <div class="menu__title"> Create Schedule </div>
                        </a>
                        </ul>
                        
                    </li>
                    <li class="menu__devider my-6"></li>
                    
                    <li>
                        <a href="javascript:;" class="menu">
                            <div class="menu__icon"> <i data-lucide="users"></i> </div>
                            <div class="menu__title"> Reports <i data-lucide="chevron-down" class="menu__sub-icon "></i> </div>
                        </a>
                        <ul class="">
                            <li>
                                <a href="" class="menu">
                                    <div class="menu__icon"> <i data-lucide="activity"></i> </div>
                                    <div class="menu__title"> Salesman wise report </div>
                                </a>
                            </li>
                            <li>
                                <a href="" class="menu">
                                    <div class="menu__icon"> <i data-lucide="activity"></i> </div>
                                    <div class="menu__title"> Sales target report </div>
                                </a>
                            </li>
                            <li>
                                <a href="" class="menu">
                                    <div class="menu__icon"> <i data-lucide="activity"></i> </div>
                                    <div class="menu__title"> Top Customers </div>
                                </a>
                            </li>
                            <li>
                                <a href="" class="menu">
                                    <div class="menu__icon"> <i data-lucide="activity"></i> </div>
                                    <div class="menu__title"> Proposal wise report </div>
                                </a>
                            </li>
                            <li>
                            <a href="" class="top-menu">
                                <div class="top-menu__icon"> <i data-lucide="activity"></i> </div>
                                <div class="top-menu__title"> Sales comparison<br> with previous month  </div>
                            </a>
                        </li>
                            <li>
                                <a href="" class="menu">
                                    <div class="menu__icon"> <i data-lucide="activity"></i> </div>
                                    <div class="menu__title"> Forecast report </div>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!-- END: Mobile Menu -->
        <!-- BEGIN: Top Bar -->
        <div class="border-b border-white/[0.08] mt-[2.2rem] md:-mt-5 -mx-3 sm:-mx-8 px-3 sm:px-8 pt-3 md:pt-0 mb-10">
            <div class="top-bar-boxed flex items-center">
                <!-- BEGIN: Logo -->
                <a href="" class="-intro-x hidden md:flex">
                    <img alt="" style="height: 50px;" class="" src="{% static 'images/wiras-logo-white.png' %}">
                    <!-- <span class="text-white text-lg ml-3"> Wiras </span>  -->
                </a>
                <!-- END: Logo -->
                <!-- BEGIN: Breadcrumb -->
                <nav aria-label="breadcrumb" class="-intro-x h-full mr-auto">
                    <ol class="breadcrumb breadcrumb-light">
                        <li class="breadcrumb-item"><a href="#">Application</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                    </ol>
                </nav>
                <!-- END: Breadcrumb -->
                <!-- BEGIN: Account Menu -->
                <div class="intro-x dropdown w-8 h-8">
                    <div class="dropdown-toggle w-8 h-8 rounded-full overflow-hidden shadow-lg image-fit zoom-in scale-110" role="button" aria-expanded="false" data-tw-toggle="dropdown">
                        <img alt="Wiras" src="{% static 'images/profile-8.jpg' %}">
                    </div>
                    <div class="dropdown-menu w-56">
                        <ul class="dropdown-content bg-primary/80 before:block before:absolute before:bg-black before:inset-0 before:rounded-md before:z-[-1] text-white">
                            <li class="p-2">
                                <div class="font-medium">WIRAS College</div>
                                <div class="text-xs text-white/60 mt-0.5 dark:text-slate-500">Super Admin</div>
                            </li>
                            <li>
                                <hr class="dropdown-divider border-white/[0.08]">
                            </li>
                            <!-- <li>
                                <a href="" class="dropdown-item hover:bg-white/5"> <i data-lucide="user" class="w-4 h-4 mr-2"></i> Profile </a>
                            </li> -->
                            <!-- <li>
                                <a href="" class="dropdown-item hover:bg-white/5"> <i data-lucide="edit" class="w-4 h-4 mr-2"></i> Add Account </a>
                            </li> -->
                            <li>
                                <a href="{% url 'change-password' %}" class="dropdown-item hover:bg-white/5"> <i data-lucide="lock" class="w-4 h-4 mr-2"></i> Reset Password </a>
                            </li>
                            <!-- <li>
                                <a href="" class="dropdown-item hover:bg-white/5"> <i data-lucide="help-circle" class="w-4 h-4 mr-2"></i> Help </a>
                            </li> -->
                            <li>
                                <hr class="dropdown-divider border-white/[0.08]">
                            </li>
                            <li>
                                <a href="{% url 'sign-out' %}" class="dropdown-item hover:bg-white/5"> <i data-lucide="toggle-right" class="w-4 h-4 mr-2"></i> Logout </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- END: Account Menu -->
            </div>
        </div>
        <!-- END: Top Bar -->
        <!-- BEGIN: Top Menu -->
        <nav class="top-nav">
            <ul>
                <li>
                    <a href="{% url 'dashboard' %}" class="top-menu top-menu--active">
                        <div class="top-menu__icon"> <i data-lucide="home"></i> </div>
                        <div class="top-menu__title"> Dashboard  </div>
                    </a>
                </li>
                <li>
                    <a href="javascript:;" class="top-menu">
                        <div class="top-menu__icon"> <i data-lucide="box"></i> </div>
                        <div class="top-menu__title">Masters</div>
                    </a>
                    <ul class="">
                        <li>
                            <a href="{% url 'list-departments' %}" class="top-menu">
                                <div class="top-menu__icon"> <i data-lucide="box"></i> </div>
                                <div class="top-menu__title">Departments</div>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'list-post' %}" class="top-menu">
                                <div class="top-menu__icon"> <i data-lucide="box"></i> </div>
                                <div class="top-menu__title">Posts</div>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'list-course' %}" class="top-menu">
                                <div class="top-menu__icon"> <i data-lucide="box"></i> </div>
                                <div class="top-menu__title">Courses</div>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'list-faculties' %}" class="top-menu">
                                <div class="top-menu__icon"> <i data-lucide="box"></i> </div>
                                <div class="top-menu__title">Faculties</div>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:;" class="top-menu">
                        <div class="top-menu__icon"> <i data-lucide="image"></i> </div>
                        <div class="top-menu__title">Gallery</div>
                    </a>
                    <ul class="">
                        <li>
                            <a href="{% url 'list-albums' %}" class="top-menu">
                                <div class="top-menu__icon"> <i data-lucide="album"></i> </div>
                                <div class="top-menu__title">Albums</div>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'upload-images' %}" class="top-menu">
                                <div class="top-menu__icon"> <i data-lucide="upload"></i> </div>
                                <div class="top-menu__title">Upload Image</div>
                            </a>
                        </li>
                    </ul>
                </li>


                <li>
                    <a href="javascript:;" class="top-menu">
                        <div class="top-menu__icon"> <i data-lucide="book-open"></i> </div>
                        <div class="top-menu__title">Exams</div>
                    </a>
                    <ul class="">
                        <li>
                            <a href="{% url 'list-exam-schedules' %}" class="top-menu">
                                <div class="top-menu__icon"> <i data-lucide="book-open"></i> </div>
                                <div class="top-menu__title"> Exam Schedules </div>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'list-exam-results' %}" class="top-menu">
                                <div class="top-menu__icon"> <i data-lucide="book-open"></i> </div>
                                <div class="top-menu__title"> Exam Results </div>
                            </a>
                        </li>
                    </ul>
                </li>


                <li>
                    <a href="javascript:;" class="top-menu">
                        <div class="top-menu__icon"> <i data-lucide="file-text"></i> </div>
                        <div class="top-menu__title">Registrations</div>
                    </a>
                    <ul class="">
                        <li>
                            <a href="{% url 'enquiries' %}" class="top-menu">
                                <div class="top-menu__icon"> <i data-lucide="file-text"></i> </div>
                                <div class="top-menu__title">Enquiries</div>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'complaints-list' %}" class="top-menu">
                                <div class="top-menu__icon"> <i data-lucide="file-text"></i> </div>
                                <div class="top-menu__title">Complaints</div>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'newslatters' %}" class="top-menu">
                                <div class="top-menu__icon"> <i data-lucide="file-text"></i> </div>
                                <div class="top-menu__title">News Letter</div>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'admission-requests' %}" class="top-menu">
                                <div class="top-menu__icon"> <i data-lucide="file-text"></i> </div>
                                <div class="top-menu__title">Admission Requests</div>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'alumni-registrations' %}" class="top-menu">
                                <div class="top-menu__icon"> <i data-lucide="file-text"></i> </div>
                                <div class="top-menu__title">Alumni Registration</div>
                            </a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="javascript:;" class="top-menu">
                        <div class="top-menu__icon"> <i data-lucide="settings"></i> </div>
                        <div class="top-menu__title"> Settings</div>
                    </a>
                    <ul class="">
                        <li>
                            <a href="{% url 'change-password' %}" class="top-menu">
                                <div class="top-menu__icon"> <i data-lucide="key"></i> </div>
                                <div class="top-menu__title"> Change Password </div>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'sign-out' %}" class="top-menu">
                                <div class="top-menu__icon"> <i data-lucide="log-out"></i> </div>
                                <div class="top-menu__title"> Sign Out </div>
                            </a>
                        </li>
                    </ul>
                </li>
               
            </ul>
        </nav>
        <!-- END: Top Menu -->