{% load static %}
<!-- BEGIN: Mobile Menu -->
        <div class="mobile-menu md:hidden">
            <div class="mobile-menu-bar">
                <a href="" class="flex mr-auto">
                    <img alt="" class="w-6" src="">
                </a>
                <a href="javascript:;" class="mobile-menu-toggler"> <i data-lucide="bar-chart-2" class="w-8 h-8 text-white transform -rotate-90"></i> </a>
            </div>
            <div class="scrollable">
                <a href="javascript:;" class="mobile-menu-toggler"> <i data-lucide="x-circle" class="w-8 h-8 text-white transform -rotate-90"></i> </a>
                <ul class="scrollable__content py-2">
                    <li>
                        <a href="javascript:;" class="menu menu--active">
                            <div class="menu__icon"> <i data-lucide="home"></i> </div>
                            <div class="menu__title"> Dashboard <i data-lucide="chevron-down" class="menu__sub-icon transform rotate-180"></i> </div>
                        </a>
                        
                    </li>
                    <li>
                        <a href="javascript:;" class="menu">
                            <div class="menu__icon"> <i data-lucide="box"></i> </div>
                            <div class="menu__title"> Products <i data-lucide="chevron-down" class="menu__sub-icon "></i> </div>
                        </a>
                        <ul class="">
                            <li>
                                <a href="" class="menu menu--active">
                                    <div class="menu__icon"> <i data-lucide="box"></i> </div>
                                    <div class="menu__title"> Add/Manage Category </div>
                                </a>
                            </li>
                            <li>
                                <a href="" class="menu menu--active">
                                    <div class="menu__icon"> <i data-lucide="box"></i> </div>
                                    <div class="menu__title"> Add/Manage Products </div>
                                </a>
                            </li>
                            
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;" class="menu">
                            <div class="menu__icon"> <i data-lucide="shopping-bag"></i> </div>
                            <div class="menu__title"> Salesman <i data-lucide="chevron-down" class="menu__sub-icon "></i> </div>
                        </a>
                        <ul class="">
                            <li>
                                <a href="" class="menu">
                                    <div class="menu__icon"> <i data-lucide="activity"></i> </div>
                                    <div class="menu__title"> Create Salesman </div>
                                </a>
                            </li>
                            <li>
                                <a href="" class="menu">
                                    <div class="menu__icon"> <i data-lucide="activity"></i> </div>
                                    <div class="menu__title"> Edit Salesman </div>
                                </a>
                            </li>
                            <li>
                                <a href="" class="menu">
                                    <div class="menu__icon"> <i data-lucide="activity"></i> </div>
                                    <div class="menu__title"> Assign Monthly Target <i data-lucide="chevron-down" class="menu__sub-icon "></i> </div>
                                </a>
                                
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="menu">
                            <div class="menu__icon"> <i data-lucide="inbox"></i> </div>
                            <div class="menu__title"> Leads </div>
                        </a>
                        <ul class="">
                            <li>
                                <a href="" class="menu">
                                    <div class="menu__icon"> <i data-lucide="file-plus"></i> </div>
                                    <div class="menu__title"> Create Lead </div>
                                </a>
                            </li>
                            <li>
                                <a href="" class="menu">
                                    <div class="menu__icon"> <i data-lucide="activity"></i> </div>
                                    <div class="menu__title"> Manage Lead </div>
                                </a>
                            </li>
                            <li>
                                <a href="" class="menu">
                                    <div class="menu__icon"> <i data-lucide="activity"></i> </div>
                                    <div class="menu__title"> Edit Lead <i data-lucide="chevron-down" class="menu__sub-icon "></i> </div>
                                </a>
                                
                            </li>
                            <li>
                                <a href="" class="menu">
                                    <div class="menu__icon"> <i data-lucide="activity"></i> </div>
                                    <div class="menu__title"> View Lead <i data-lucide="chevron-down" class="menu__sub-icon "></i> </div>
                                </a>
                                
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="" class="menu">
                            <div class="menu__icon"> <i data-lucide="hard-drive"></i> </div>
                            <div class="menu__title"> Opportunity </div>
                        </a>
                        
                    </li>
                    <li>
                        <a href="" class="menu">
                            <div class="menu__icon"> <i data-lucide="edit"></i> </div>
                            <div class="menu__title"> Clients <i data-lucide="chevron-down" class="menu__sub-icon "></i> </div>
                        </a>
                        <ul class="">
                             <a href="" class="menu">
                            <div class="menu__icon"> <i data-lucide="edit"></i> </div>
                            <div class="menu__title"> View Clients </div>
                            </a>
                            <a href="" class="menu">
                            <div class="menu__icon"> <i data-lucide="edit"></i> </div>
                            <div class="menu__title"> Create Schedule </div>
                        </a>
                        </ul>
                        
                    </li>
                    <li class="menu__devider my-6"></li>
                    
                    <li>
                        <a href="javascript:;" class="menu">
                            <div class="menu__icon"> <i data-lucide="users"></i> </div>
                            <div class="menu__title"> Reports <i data-lucide="chevron-down" class="menu__sub-icon "></i> </div>
                        </a>
                        <ul class="">
                            <li>
                                <a href="" class="menu">
                                    <div class="menu__icon"> <i data-lucide="activity"></i> </div>
                                    <div class="menu__title"> Salesman wise report </div>
                                </a>
                            </li>
                            <li>
                                <a href="" class="menu">
                                    <div class="menu__icon"> <i data-lucide="activity"></i> </div>
                                    <div class="menu__title"> Sales target report </div>
                                </a>
                            </li>
                            <li>
                                <a href="" class="menu">
                                    <div class="menu__icon"> <i data-lucide="activity"></i> </div>
                                    <div class="menu__title"> Top Customers </div>
                                </a>
                            </li>
                            <li>
                                <a href="" class="menu">
                                    <div class="menu__icon"> <i data-lucide="activity"></i> </div>
                                    <div class="menu__title"> Proposal wise report </div>
                                </a>
                            </li>
                            <li>
                            <a href="" class="top-menu">
                                <div class="top-menu__icon"> <i data-lucide="activity"></i> </div>
                                <div class="top-menu__title"> Sales comparison<br> with previous month  </div>
                            </a>
                        </li>
                            <li>
                                <a href="" class="menu">
                                    <div class="menu__icon"> <i data-lucide="activity"></i> </div>
                                    <div class="menu__title"> Forecast report </div>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!-- END: Mobile Menu -->
        <!-- BEGIN: Top Bar -->
        <div class="border-b border-white/[0.08] mt-[2.2rem] md:-mt-5 -mx-3 sm:-mx-8 px-3 sm:px-8 pt-3 md:pt-0 mb-10">
            <div class="top-bar-boxed flex items-center">
                <!-- BEGIN: Logo -->
                <a href="" class="-intro-x hidden md:flex">
                    <img class="w-6" src="">
                    <span class="text-white text-lg ml-3"> Wiras </span> 
                </a>
                <!-- END: Logo -->
                <!-- BEGIN: Breadcrumb -->
                <nav aria-label="breadcrumb" class="-intro-x h-full mr-auto">
                    <ol class="breadcrumb breadcrumb-light">
                        <li class="breadcrumb-item"><a href="#">Application</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                    </ol>
                </nav>
                <!-- END: Breadcrumb -->
                <!-- BEGIN: Search -->
                <div class="intro-x relative mr-3 sm:mr-6">
                    <div class="search hidden sm:block">
                        <input type="text" class="search__input form-control border-transparent" placeholder="Search...">
                        <i data-lucide="search" class="search__icon dark:text-slate-500"></i> 
                    </div>
                    <a class="notification notification--light sm:hidden" href=""> <i data-lucide="search" class="notification__icon dark:text-slate-500"></i> </a>
                    <div class="search-result">
                        <div class="search-result__content">
                            <div class="search-result__content__title">Pages</div>
                            <div class="mb-5">
                                <a href="" class="flex items-center">
                                    <div class="w-8 h-8 bg-success/20 dark:bg-success/10 text-success flex items-center justify-center rounded-full"> <i class="w-4 h-4" data-lucide="inbox"></i> </div>
                                    <div class="ml-3">Mail Settings</div>
                                </a>
                                <a href="" class="flex items-center mt-2">
                                    <div class="w-8 h-8 bg-pending/10 text-pending flex items-center justify-center rounded-full"> <i class="w-4 h-4" data-lucide="users"></i> </div>
                                    <div class="ml-3">Users & Permissions</div>
                                </a>
                                <a href="" class="flex items-center mt-2">
                                    <div class="w-8 h-8 bg-primary/10 dark:bg-primary/20 text-primary/80 flex items-center justify-center rounded-full"> <i class="w-4 h-4" data-lucide="credit-card"></i> </div>
                                    <div class="ml-3">Transactions Report</div>
                                </a>
                            </div>
                            <div class="search-result__content__title">Users</div>
                            <div class="mb-5">
                                <a href="" class="flex items-center mt-2">
                                    <div class="w-8 h-8 image-fit">
                                        <img alt="Midone - HTML Admin Template" class="rounded-full" src="{% static 'images/profile-11.jpg' %}">
                                    </div>
                                    <div class="ml-3">Kevin Spacey</div>
                                    <div class="ml-auto w-48 truncate text-slate-500 text-xs text-right">kevinspacey@left4code.com</div>
                                </a>
                                <a href="" class="flex items-center mt-2">
                                    <div class="w-8 h-8 image-fit">
                                        <img alt="Midone - HTML Admin Template" class="rounded-full" src="{% static 'images/profile-1.jpg' %}">
                                    </div>
                                    <div class="ml-3">Angelina Jolie</div>
                                    <div class="ml-auto w-48 truncate text-slate-500 text-xs text-right">angelinajolie@left4code.com</div>
                                </a>
                                <a href="" class="flex items-center mt-2">
                                    <div class="w-8 h-8 image-fit">
                                        <img alt="Midone - HTML Admin Template" class="rounded-full" src="{% static 'images/profile-14.jpg' %}">
                                    </div>
                                    <div class="ml-3">Bruce Willis</div>
                                    <div class="ml-auto w-48 truncate text-slate-500 text-xs text-right">brucewillis@left4code.com</div>
                                </a>
                                <a href="" class="flex items-center mt-2">
                                    <div class="w-8 h-8 image-fit">
                                        <img alt="Midone - HTML Admin Template" class="rounded-full" src="{% static 'images/profile-12.jpg' %}">
                                    </div>
                                    <div class="ml-3">Al Pacino</div>
                                    <div class="ml-auto w-48 truncate text-slate-500 text-xs text-right">alpacino@left4code.com</div>
                                </a>
                            </div>
                            <div class="search-result__content__title">Products</div>
                            <a href="" class="flex items-center mt-2">
                                <div class="w-8 h-8 image-fit">
                                    <img alt="Wiras" class="rounded-full" src="{% static 'images/preview-13.jpg' %}">
                                </div>
                                <div class="ml-3">Nike Tanjun</div>
                                <div class="ml-auto w-48 truncate text-slate-500 text-xs text-right">Sport &amp; Outdoor</div>
                            </a>
                            <a href="" class="flex items-center mt-2">
                                <div class="w-8 h-8 image-fit">
                                    <img alt="Midone - HTML Admin Template" class="rounded-full" src="{% static 'images/preview-1.jpg' %}">
                                </div>
                                <div class="ml-3">Nike Tanjun</div>
                                <div class="ml-auto w-48 truncate text-slate-500 text-xs text-right">Sport &amp; Outdoor</div>
                            </a>
                            <a href="" class="flex items-center mt-2">
                                <div class="w-8 h-8 image-fit">
                                    <img alt="Midone - HTML Admin Template" class="rounded-full" src="{% static 'images/preview-3.jpg' %}">
                                </div>
                                <div class="ml-3">Samsung Q90 QLED TV</div>
                                <div class="ml-auto w-48 truncate text-slate-500 text-xs text-right">Electronic</div>
                            </a>
                            <a href="" class="flex items-center mt-2">
                                <div class="w-8 h-8 image-fit">
                                    <img alt="Midone - HTML Admin Template" class="rounded-full" src="{% static 'images/preview-10.jpg' %}">
                                </div>
                                <div class="ml-3">Nikon Z6</div>
                                <div class="ml-auto w-48 truncate text-slate-500 text-xs text-right">Photography</div>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- END: Search -->
                <!-- BEGIN: Notifications -->
                <div class="intro-x dropdown mr-4 sm:mr-6">
                    <div class="dropdown-toggle notification notification--light notification--bullet cursor-pointer" role="button" aria-expanded="false" data-tw-toggle="dropdown"> <i data-lucide="bell" class="notification__icon dark:text-slate-500"></i> </div>
                    <div class="notification-content pt-2 dropdown-menu">
                        <div class="notification-content__box dropdown-content">
                            <div class="notification-content__title">Latest Updates</div>
                            <div class="cursor-pointer relative flex items-center ">
                                <div class="w-12 h-12 flex-none image-fit mr-1">
                                    <img alt="Midone - HTML Admin Template" class="rounded-full" src="{% static 'images/profile-11.jpg' %}">
                                    <div class="w-3 h-3 bg-success absolute right-0 bottom-0 rounded-full border-2 border-white"></div>
                                </div>
                                <div class="ml-2 overflow-hidden">
                                    <div class="flex items-center">
                                        <a href="javascript:;" class="font-medium truncate mr-5">Kevin Spacey</a> 
                                        <div class="text-xs text-slate-400 ml-auto whitespace-nowrap">01:10 PM</div>
                                    </div>
                                    <div class="w-full truncate text-slate-500 mt-0.5">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem </div>
                                </div>
                            </div>
                            <div class="cursor-pointer relative flex items-center mt-5">
                                <div class="w-12 h-12 flex-none image-fit mr-1">
                                    <img alt="Wiras" class="rounded-full" src="{% static 'images/profile-1.jpg' %}">
                                    <div class="w-3 h-3 bg-success absolute right-0 bottom-0 rounded-full border-2 border-white"></div>
                                </div>
                                <div class="ml-2 overflow-hidden">
                                    <div class="flex items-center">
                                        <a href="javascript:;" class="font-medium truncate mr-5">Angelina Jolie</a> 
                                        <div class="text-xs text-slate-400 ml-auto whitespace-nowrap">03:20 PM</div>
                                    </div>
                                    <div class="w-full truncate text-slate-500 mt-0.5">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem </div>
                                </div>
                            </div>
                            <div class="cursor-pointer relative flex items-center mt-5">
                                <div class="w-12 h-12 flex-none image-fit mr-1">
                                    <img alt="Wiras" class="rounded-full" src="{% static 'images/profile-14.jpg' %}">
                                    <div class="w-3 h-3 bg-success absolute right-0 bottom-0 rounded-full border-2 border-white"></div>
                                </div>
                                <div class="ml-2 overflow-hidden">
                                    <div class="flex items-center">
                                        <a href="javascript:;" class="font-medium truncate mr-5">Bruce Willis</a> 
                                        <div class="text-xs text-slate-400 ml-auto whitespace-nowrap">01:10 PM</div>
                                    </div>
                                    <div class="w-full truncate text-slate-500 mt-0.5">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 20</div>
                                </div>
                            </div>
                            <div class="cursor-pointer relative flex items-center mt-5">
                                <div class="w-12 h-12 flex-none image-fit mr-1">
                                    <img alt="wiras" class="rounded-full" src="{% static 'images/profile-12.jpg' %}">
                                    <div class="w-3 h-3 bg-success absolute right-0 bottom-0 rounded-full border-2 border-white"></div>
                                </div>
                                <div class="ml-2 overflow-hidden">
                                    <div class="flex items-center">
                                        <a href="javascript:;" class="font-medium truncate mr-5">Al Pacino</a> 
                                        <div class="text-xs text-slate-400 ml-auto whitespace-nowrap">01:10 PM</div>
                                    </div>
                                    <div class="w-full truncate text-slate-500 mt-0.5">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 20</div>
                                </div>
                            </div>
                            <div class="cursor-pointer relative flex items-center mt-5">
                                <div class="w-12 h-12 flex-none image-fit mr-1">
                                    <img alt="Wiras" class="rounded-full" src="{% static 'images/profile-14.jpg' %}">
                                    <div class="w-3 h-3 bg-success absolute right-0 bottom-0 rounded-full border-2 border-white"></div>
                                </div>
                                <div class="ml-2 overflow-hidden">
                                    <div class="flex items-center">
                                        <a href="javascript:;" class="font-medium truncate mr-5">Denzel Washington</a> 
                                        <div class="text-xs text-slate-400 ml-auto whitespace-nowrap">06:05 AM</div>
                                    </div>
                                    <div class="w-full truncate text-slate-500 mt-0.5">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END: Notifications -->
                <!-- BEGIN: Account Menu -->
                <div class="intro-x dropdown w-8 h-8">
                    <div class="dropdown-toggle w-8 h-8 rounded-full overflow-hidden shadow-lg image-fit zoom-in scale-110" role="button" aria-expanded="false" data-tw-toggle="dropdown">
                        <img alt="Wiras" src="{% static 'images/profile-8.jpg' %}">
                    </div>
                    <div class="dropdown-menu w-56">
                        <ul class="dropdown-content bg-primary/80 before:block before:absolute before:bg-black before:inset-0 before:rounded-md before:z-[-1] text-white">
                            <li class="p-2">
                                <div class="font-medium">Shaheer VK</div>
                                <div class="text-xs text-white/60 mt-0.5 dark:text-slate-500">Super Admin</div>
                            </li>
                            <li>
                                <hr class="dropdown-divider border-white/[0.08]">
                            </li>
                            <li>
                                <a href="" class="dropdown-item hover:bg-white/5"> <i data-lucide="user" class="w-4 h-4 mr-2"></i> Profile </a>
                            </li>
                            <!-- <li>
                                <a href="" class="dropdown-item hover:bg-white/5"> <i data-lucide="edit" class="w-4 h-4 mr-2"></i> Add Account </a>
                            </li> -->
                            <li>
                                <a href="" class="dropdown-item hover:bg-white/5"> <i data-lucide="lock" class="w-4 h-4 mr-2"></i> Reset Password </a>
                            </li>
                            <!-- <li>
                                <a href="" class="dropdown-item hover:bg-white/5"> <i data-lucide="help-circle" class="w-4 h-4 mr-2"></i> Help </a>
                            </li> -->
                            <li>
                                <hr class="dropdown-divider border-white/[0.08]">
                            </li>
                            <li>
                                <a href="" class="dropdown-item hover:bg-white/5"> <i data-lucide="toggle-right" class="w-4 h-4 mr-2"></i> Logout </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- END: Account Menu -->
            </div>
        </div>
        <!-- END: Top Bar -->
        <!-- BEGIN: Top Menu -->
        <nav class="top-nav">
            <ul>
                <li>
                    <a href="{% url 'dashboard' %}" class="top-menu top-menu--active">
                        <div class="top-menu__icon"> <i data-lucide="home"></i> </div>
                        <div class="top-menu__title"> Dashboard  </div>
                    </a>
                </li>
                <li>
                    <a href="javascript:;" class="top-menu">
                        <div class="top-menu__icon"> <i data-lucide="box"></i> </div>
                        <div class="top-menu__title">Masters</div>
                    </a>
                    <ul class="">
                        <li>
                            <a href="{% url 'list-post' %}" class="top-menu">
                                <div class="top-menu__icon"> <i data-lucide="box"></i> </div>
                                <div class="top-menu__title">Posts</div>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'list-departments' %}" class="top-menu">
                                <div class="top-menu__icon"> <i data-lucide="box"></i> </div>
                                <div class="top-menu__title">Departments</div>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'list-course' %}" class="top-menu">
                                <div class="top-menu__icon"> <i data-lucide="box"></i> </div>
                                <div class="top-menu__title">Cources</div>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'list-faculties' %}" class="top-menu">
                                <div class="top-menu__icon"> <i data-lucide="box"></i> </div>
                                <div class="top-menu__title">Faculties</div>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:;" class="top-menu">
                        <div class="top-menu__icon"> <i data-lucide="image"></i> </div>
                        <div class="top-menu__title">Gallery</div>
                    </a>
                    <ul class="">
                        <li>
                            <a href="{% url 'list-albums' %}" class="top-menu">
                                <div class="top-menu__icon"> <i data-lucide="album"></i> </div>
                                <div class="top-menu__title">Albums</div>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'upload-images' %}" class="top-menu">
                                <div class="top-menu__icon"> <i data-lucide="upload"></i> </div>
                                <div class="top-menu__title">Upload Image</div>
                            </a>
                        </li>
                    </ul>
                </li>


                <!-- <li>
                    <a href="javascript:;" class="top-menu">
                        <div class="top-menu__icon"> <i data-lucide="book-open"></i> </div>
                        <div class="top-menu__title"> Tasks</div>
                    </a>
                    <ul class="">
                        <li>
                            <a href="" class="top-menu">
                                <div class="top-menu__icon"> <i data-lucide="file-minus"></i> </div>
                                <div class="top-menu__title"> Pending Tasks </div>
                            </a>
                        </li>
                        <li>
                            <a href="" class="top-menu">
                                <div class="top-menu__icon"> <i data-lucide="file-plus"></i> </div>
                                <div class="top-menu__title"> Completed Tasks </div>
                            </a>
                        </li>
                        <li>
                            <a href="" class="top-menu">
                                <div class="top-menu__icon"> <i data-lucide="users"></i> </div>
                                <div class="top-menu__title"> Staff Wise List </div>
                            </a>
                        </li>
                    </ul>
                </li> -->


                <!-- <li>
                    <a href="javascript:;" class="top-menu">
                        <div class="top-menu__icon"> <i data-lucide="message-circle"></i> </div>
                        <div class="top-menu__title"> Meetings</div>
                    </a>
                    <ul class="">
                        <li>
                            <a href="" class="top-menu">
                                <div class="top-menu__icon"> <i data-lucide="skip-forward"></i> </div>
                                <div class="top-menu__title"> Upcoming Meetings </div>
                            </a>
                        </li>
                        <li>
                            <a href="" class="top-menu">
                                <div class="top-menu__icon"> <i data-lucide="skip-back"></i> </div>
                                <div class="top-menu__title"> Previous Meetings </div>
                            </a>
                        </li>
                        <li>
                            <a href="" class="top-menu">
                                <div class="top-menu__icon"> <i data-lucide="users"></i> </div>
                                <div class="top-menu__title"> Staff Wise List </div>
                            </a>
                        </li>
                    </ul>
                </li> -->

                 <li>
                    <a href="javascript:;" class="top-menu">
                        <div class="top-menu__icon"> <i data-lucide="file-text"></i> </div>
                        <div class="top-menu__title">Enquiries</div>
                    </a>
                    <ul class="">
                        <li>
                            <a href="" class="top-menu">
                                <div class="top-menu__icon"> <i data-lucide="user"></i> </div>
                                <div class="top-menu__title"> Salesman Wise </div>
                            </a>
                        </li>
                        <li>
                            <a href="" class="top-menu">
                                <div class="top-menu__icon"> <i data-lucide="file-plus"></i> </div>
                                <div class="top-menu__title"> Sales Target Report </div>
                            </a>
                        </li>
                        <li>
                            <a href="" class="top-menu">
                                <div class="top-menu__icon"> <i data-lucide="users"></i> </div>
                                <div class="top-menu__title"> Top Customers </div>
                            </a>
                        </li>
                        <li>
                            <a href="" class="top-menu">
                                <div class="top-menu__icon"> <i data-lucide="file-text"></i> </div>
                                <div class="top-menu__title"> Proposal Wise </div>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="top-menu">
                                <div class="top-menu__icon"> <i data-lucide="activity"></i> </div>
                                <div class="top-menu__title"> Sales Analytics  </div>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="top-menu">
                                <div class="top-menu__icon"> <i data-lucide="file-text"></i> </div>
                                <div class="top-menu__title"> Forecast Report  </div>
                            </a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="javascript:;" class="top-menu">
                        <div class="top-menu__icon"> <i data-lucide="settings"></i> </div>
                        <div class="top-menu__title"> Settings</div>
                    </a>
                    <ul class="">
                        <li>
                            <a href="#" class="top-menu">
                                <div class="top-menu__icon"> <i data-lucide="key"></i> </div>
                                <div class="top-menu__title"> Change Password </div>
                            </a>
                        </li>
                        <li>
                            <a href="" class="top-menu">
                                <div class="top-menu__icon"> <i data-lucide="log-out"></i> </div>
                                <div class="top-menu__title"> Logout </div>
                            </a>
                        </li>
                    </ul>
                </li>
               
            </ul>
        </nav>
        <!-- END: Top Menu -->