{% extends 'frontpage/base.html' %}
{% load static %}
   {% block content %}
   {% include 'frontpage/header.html' %}
    <main>
        <div class="hero-arera course-item-height" data-background="{% static 'assets/img/slider/course-slider.jpg' %}">
         <div class="container">
            <div class="row">
               <div class="col-xl-12">
                  <div class="hero-course-1-text">
                     <h2>Achievements</h2>
                  </div>
                  <div class="course-title-breadcrumb">
                     <nav>
                        <ol class="breadcrumb">
                           <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                           <li class="breadcrumb-item"><span>Achievements</span></li>
                        </ol>
                     </nav>
                  </div>
               </div>
            </div>
         </div>
      </div>
        
        <div class="blog-area pt-90 pb-50">
         <div class="container">
            <div class="row">

               <div class="col-xl-12 col-lg-12">
                  <div class="blog-main-wrapper mb-30">
                     <div class="row">
                        {% for achivement in achivements %}
                        <div class="col-xl-4 col-lg-6 col-md-12">
                           <div class="blog-wrapper position-relative mb-30">
                              {% if achivement.Post_Image %}
                                 <div class="blog-thumb ">
                                    <a href="{% url 'news-details' 'achivement.Seo_Url' %}"><img src="{{ achivement.Post_Image.url }}" alt="blog-img"></a>
                                 </div>
                              {% else %}
                                 <div class="blog-thumb ">
                                    <a href="{% url 'news-details' 'achivement.Seo_Url' %}"><img src="{% static 'assets/img/noimage.jpg' %}" alt="blog-img"></a>
                                 </div>
                              {% endif %}
                              <a href="{% url 'news' %}" class="blog-tag">
                                 <i class="fal fa-folder-open"></i>
                                 {{ achivement.Post_Category }}
                              </a>
                              <div class="blog-content-wrapper">
                                 <div class="blog-meta">
                                    <div class="blog-date">
                                       <i class="flaticon-calendar"></i>
                                       <span>{{ achivement.AddedDate }}</span>
                                    </div>
                                 </div>
                                 <div class="blog-content">
                                    <a href="{% url 'news-details' achivement.Seo_Url %}">
                                       <h3>{{ achivement.Post_Title }}</h3>
                                    </a>
                                    <p>{{ achivement.Post_Description | safe }}</p>
                                    <a class="blog-btn" href="{% url 'news-details' achivement.Seo_Url %}">Read more</a>
                                 </div>
                              </div>
                           </div>
                        </div>
                        {% endfor %}
                     </div>
                     {% if achivements %}
                     <div class="edu-pagination mt-30 mb-20">
                        <ul>
                           {% if achivements.has_previous %}
                              <li><a href="?page={{achivements.previous_page_number}}"><i class="fal fa-angle-left"></i></a></li>
                           {% else %}
                              <li><a href=""><i class="fal fa-angle-left"></i></a></li>
                           {% endif %}
                           {% for n in nums %}
                              <li class="active"><a href="?page={{ forloop.counter }}"><span>0{{ forloop.counter }}</span></a></li>
                           {% endfor %}
                           {% if achivements.has_next %}
                              <li><a href="?page={{achivements.next_page_number}}"><i class="fal fa-angle-right"></i></a></li>
                           {% else %}
                              <li><a href=""><i class="fal fa-angle-right"></i></a></li>
                           {% endif %}
                        </ul>
                     </div>
                     {% endif %}
                  </div>

               </div>
               
            </div>
         </div>
      </div>
        
    </main>
   {% include 'frontpage/footer.html' %}
   {% endblock content %}