{% extends 'frontpage/base.html' %}
{% load static %}
   {% block content %}
   {% include 'frontpage/header.html' %}
    <style>
       .f-wt{
         font-weight: 700;
         font-size: 24px;
       }
    </style>

    <main>
        <div class="hero-arera course-item-height" data-background="{% static 'assets/img/slider/course-slider.jpg' %}">
         <div class="container">
            <div class="row">
               <div class="col-xl-12">
                  <div class="hero-course-1-text">
                     <h2>Anti-Ragging Cell</h2>
                  </div>
                  <div class="course-title-breadcrumb">
                     <nav>
                        <ol class="breadcrumb">
                           <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                           <li class="breadcrumb-item"><span>Student Support</span></li>
                           <li class="breadcrumb-item"><span>Anti-Ragging Cell</span></li>
                        </ol>
                     </nav>
                  </div>
               </div>
            </div>
         </div>
      </div>
        
        <div class="student-choose-area fix pt-110 pb-90">
         <div class="container">
            <div class="row">
               <div class="col-xl-5 col-lg-5">
                  <div class="student-wrapper mb-30">
                     <div class="section-title mb-10">
                        <h2>Anti-Ragging Cell</h2>
                     </div>
                     <div class="sitdent-choose-content">
                        <p>Any disorderly conduct either by words spoken or written or by an act which has the effect of teasing, treating or handling with rudeness any other student, indulging in activities of indiscipline which causes or is likely to cause annoyance, hardship or psychological harm or raise fear or apprehension thereof in a fresher or a junior student or asking the students to do any act or perform something which such student will not do in the ordinary course and which has the effect of causing or generating a sense of shame or embarrassment so as to adversely affect the physique or psyche of a fresher or a junior student will be treated as ragging. Ragging of any form is a non-bailable offence and will be addressed with criminal procedure. If any incident of ragging and/or abetting ragging comes to the notice of the authority, severe action will be taken against such students.
                        </p>
                         <!--  <div class="section-title mb-10">
                            <h4>MANAGEMENT</h4>
                         </div>
                         <p>Ta’aleemul Islam Trust,Kerala was established in 1980 with the noble aim of promoting quality education and extending social services. Since then it has been undertaking educational and social service activities in different spheres.The management strives towards disciplined growth of our students,to be leaders of tomorrow.</p> -->
                     </div> 
                     
                  </div>
               </div>
               <div class="col-xl-2 col-lg-2">
                  <div class="student-wrapper position-relative">
                     <div class="shap-01">
                     </div>
                  </div>
               </div>
               <div class="col-xl-5 col-lg-5">
                  <div class="student-choose-wrapper position-relative mb-30">
                     <div class="shap-02">
                     </div>
                     <div class="shap-03">
                        <img src="{% static 'assets/img/student-shape-03.png' %}" alt="image not found">
                     </div>
                     <div class="shap-04">
                        <img src="{% static 'assets/img/student-shape-04.png' %}" alt="image not found">
                     </div>
                     <div class="shap-05">
                        <img src="{% static 'assets/img/student-shape-05.png' %}" alt="image not found">
                     </div>
                     <div class="shap-06">
                        <img src="{% static 'assets/img/student-shape-06.png' %}" alt="image not found">
                     </div>
                     <div class="shap-07">
                        <img src="{% static 'assets/img/student-shape-07.png' %}" alt="image not found">
                     </div>

                     <div class="student-choose-thumb">
                        <img src="{% static 'assets/img/avatar1.png' %}" alt="image not found">
                     </div><br>
                     <p class="f-wt">Convener: <span>Mr. Abdu Rahman</span><br><span style="font-size: 16px;color: #d10000;"> (Assistant Professor, Dept. of Commerce)</span></p>
                  </div>
               </div>
            </div>
         </div>
      </div>
        
       
    </main>
    {% include 'frontpage/footer.html' %}
    {% endblock content %}