{% extends 'frontpage/base.html' %}
{% load static %}
   {% block content %}
   {% include 'frontpage/header.html' %}
    <style>
       .f-wt{
         font-weight: 700;
         font-size: 24px;
       }
    </style>
    <main>
        <div class="hero-arera course-item-height" data-background="{% static 'assets/img/slider/course-slider.jpg' %}">
         <div class="container">
            <div class="row">
               <div class="col-xl-12">
                  <div class="hero-course-1-text">
                     <h2>Bicycle Club </h2>
                  </div>
                  <div class="course-title-breadcrumb">
                     <nav>
                        <ol class="breadcrumb">
                           <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                           <li class="breadcrumb-item"><span>Student Support</span></li>
                           <li class="breadcrumb-item"><span>Bicycle Club </span></li>
                        </ol>
                     </nav>
                  </div>
               </div>
            </div>
         </div>
      </div>
        
        <div class="student-choose-area fix pt-110 pb-90">
         <div class="container">
            <div class="row">
               <div class="col-xl-2 col-lg-2">
                  <div class="student-wrapper position-relative">
                     <div class="shap-01">
                     </div>
                  </div>
               </div>
               <div class="col-xl-5 col-lg-5">
                  <div class="student-choose-wrapper position-relative mb-30">
                     <div class="shap-02">
                     </div>
                     <div class="shap-03">
                        <img src="{% static 'assets/img/student-shape-03.png' %}" alt="image not found">
                     </div>
                     <div class="shap-04">
                        <img src="{% static 'assets/img/student-shape-04.png' %}" alt="image not found">
                     </div>
                     <div class="shap-05">
                        <img src="{% static 'assets/img/student-shape-05.png' %}" alt="image not found">
                     </div>
                     <div class="shap-06">
                        <img src="{% static 'assets/img/student-shape-06.png' %}" alt="image not found">
                     </div>
                     <div class="shap-07">
                        <img src="{% static 'assets/img/student-shape-07.png' %}" alt="image not found">
                     </div>

                     <div class="student-choose-thumb">
                        <img src="{% static 'assets/img/avatar1.png' %}" alt="image not found">
                     </div><br>
                    
                      <p class="f-wt">Convener: <span> Mr. Abdul Rahman</span><br><span style="font-size: 16px;color: #d10000;">(Assistant Professor, Dept. of Commerce)</span></p>
                  </div>
               </div>

               <div class="col-xl-5 col-lg-5">
                  <div class="student-wrapper mb-30">
                     <div class="section-title mb-10">
                        <h2>Bicycle Club</h2>
                     </div>
                     <div class="sitdent-choose-content">
                        <p>
                        WIRAS Bicycle Club unites biking enthusiasts from all levels within the college, organizing rides and events that promote cycling and create a supportive community. From leisurely campus rides to thrilling trail adventures, the club offers diverse cycling experiences. By fostering friendships, knowledge sharing, and a love for biking, the club contributes to a healthier, greener, and more connected campus environment.
                        </p>
                     </div> 
                  </div>
               </div>
               
            </div>
         </div>
      </div>
        
       
    </main>
    {% include 'frontpage/footer.html' %}
    {% endblock content %}