{% extends 'frontpage/base.html' %}
{% load static %}
   {% block content %}
   {% include 'frontpage/header.html' %}
      <style>
         .single-product h3 {
         font-size: 20px;
            }
            .member-item {
            padding: 30px 20px;
             height: 326px;
            }
      </style>

      <main>
         <div class="hero-arera course-item-height" data-background="{% static 'assets/img/slider/course-slider.jpg' %}">
         <div class="container">
            <div class="row">
               <div class="col-xl-12">
                  <div class="hero-course-1-text">
                     <h2>College Council</h2>
                  </div>
                  <div class="course-title-breadcrumb">
                     <nav>
                        <ol class="breadcrumb">
                           <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                           <li class="breadcrumb-item"><span>College Council</span></li>
                        </ol>
                     </nav>
                  </div>
               </div>
            </div>
         </div>
      </div>



      <!-- Start Product Area -->
      <section class="member-area pt-90 pb-50 gb_body">
         <div class="container">
            <div class="row">
               <div class="col-xl-3 col-lg-4 col-md-6">
                  <div class="member-main-wrapper mb-30">
                     <div class="member-body text-center">
                        <div class="member-item">
                           <div class="member-thumb">
                              <img src="{% static 'assets/img/council/Principal ABU ISHAQUE.jpg' %}" alt="member-img">
                           </div>
                           <div class="member-content">
                              <h4> Dr. Aboo Ishaque P. K</h4>
                              <span>PRINCIPAL</span>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-4 col-md-6">
                  <div class="member-main-wrapper mb-30">
                     <div class="member-body text-center">
                        <div class="member-item">
                           <div class="member-thumb">
                              <img src="{% static 'assets/img/council/SAHEED.jpg' %}" alt="member-img">
                           </div>
                           <div class="member-content">
                              <h4>Prof Saheed V. K</h4>
                              <span>HOD - CHEMISTRY</span>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-4 col-md-6">
                  <div class="member-main-wrapper mb-30">
                     <div class="member-body text-center">
                        <div class="member-item">
                           <div class="member-thumb">
                              <img src="{% static 'assets/img/council/DELLA.jpg' %}" alt="member-img">
                           </div>
                           <div class="member-content">
                              <h4>Mrs. Della Samuel</h4>
                              <span>HOD - COMMERCE</span>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-4 col-md-6">
                  <div class="member-main-wrapper mb-30">
                     <div class="member-body text-center">
                        <div class="member-item">
                           <div class="member-thumb">
                              <img src="{% static 'assets/img/council/ZUBAIR.jpg' %}" alt="member-img">
                           </div>
                           <div class="member-content">
                              <h4>Mr. Subair M</h4>
                              <span>HOD - PSYCHOLOGY</span>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-4 col-md-6">
                  <div class="member-main-wrapper mb-30">
                     <div class="member-body text-center">
                        <div class="member-item">
                           <div class="member-thumb">
                              <img src="{% static 'assets/img/council/SOUMYA.jpg' %}" alt="member-img">
                           </div>
                           <div class="member-content">
                              <h4>Mrs. Soumya Rishin</h4>
                              <span>HOD - COMPUTER SCIENCE</span>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-4 col-md-6">
                  <div class="member-main-wrapper mb-30">
                     <div class="member-body text-center">
                        <div class="member-item">
                           <div class="member-thumb">
                              <img src="{% static 'assets/img/council/SAFEENA.jpg' %}" alt="member-img">
                           </div>
                           <div class="member-content">
                              <h4>Mrs. Safeena S.V</h4>
                              <span>HOD - PHYSICS</span>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-4 col-md-6">
                  <div class="member-main-wrapper mb-30">
                     <div class="member-body text-center">
                        <div class="member-item">
                           <div class="member-thumb">
                              <img src="{% static 'assets/img/council/profile1.png' %}" alt="member-img">
                           </div>
                           <div class="member-content">
                              <h4>Mr. Purushothaman M. V</h4>
                              <span>HOD - ENGLISH & IQAC COORDINATOR</span>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-4 col-md-6">
                  <div class="member-main-wrapper mb-30">
                     <div class="member-body text-center">
                        <div class="member-item">
                           <div class="member-thumb">
                              <img src="{% static 'assets/img/council/PRADHEEPAN.jpg' %}" alt="member-img">
                           </div>
                           <div class="member-content">
                              <h4>Mr. Pradeepan R.C</h4>
                              <span>HOD - MALAYALAM</span>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-4 col-md-6">
                  <div class="member-main-wrapper mb-30">
                     <div class="member-body text-center">
                        <div class="member-item">
                           <div class="member-thumb">
                              <img src="{% static 'assets/img/council/profile1.png' %}" alt="member-img">
                           </div>
                           <div class="member-content">
                              <h4>Mr. Abul Kalam Azad</h4>
                              <span>HOD - ARABIC</span>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-4 col-md-6">
                  <div class="member-main-wrapper mb-30">
                     <div class="member-body text-center">
                        <div class="member-item">
                           <div class="member-thumb">
                              <img src="{% static 'assets/img/council/DANYA.jpg' %}" alt="member-img">
                           </div>
                           <div class="member-content">
                              <h4>Mrs. Dhanya K.M</h4>
                              <span>HOD - HINDI</span>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-4 col-md-6">
                  <div class="member-main-wrapper mb-30">
                     <div class="member-body text-center">
                        <div class="member-item">
                           <div class="member-thumb">
                              <img src="{% static 'assets/img/council/ATHIFA.jpg' %}" alt="member-img">
                           </div>
                           <div class="member-content">
                              <h4>Miss. Athifa Abdul Khader</h4>
                              <span>HOD - MATHEMATICS</span>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-4 col-md-6">
                  <div class="member-main-wrapper mb-30">
                     <div class="member-body text-center">
                        <div class="member-item">
                           <div class="member-thumb">
                              <img src="{% static 'assets/img/council/DANUJHA.jpg' %}" alt="member-img">
                           </div>
                           <div class="member-content">
                              <h4>Dhanuja E</h4>
                              <span>LIBRARIAN</span>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-4 col-md-6">
                  <div class="member-main-wrapper mb-30">
                     <div class="member-body text-center">
                        <div class="member-item">
                           <div class="member-thumb">
                              <img src="{% static 'assets/img/council/SAMEERA.png' %}" alt="member-img">
                           </div>
                           <div class="member-content">
                              <h4>Mrs. Sameera K</h4>
                              <span>OFFICE SUPERINTENDENT</span>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- End Product Area -->
      </main>
    
   {% include 'frontpage/footer.html' %}

{% endblock content %}