{% extends 'frontpage/base.html' %}
{% load static %}
   {% block content %}
   {% include 'frontpage/header.html' %}
    <main>
        <div class="hero-arera course-item-height" data-background="{% static 'assets/img/slider/course-slider.jpg' %}">
         <div class="container">
            <div class="row">
               <div class="col-xl-12">
                  <div class="hero-course-1-text">
                     <h2>College Students Union</h2>
                  </div>
                  <div class="course-title-breadcrumb">
                     <nav>
                        <ol class="breadcrumb">
                           <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                           <li class="breadcrumb-item"><span>Student Support</span></li>
                           <li class="breadcrumb-item"><span>College Students Union</span></li>
                        </ol>
                     </nav>
                  </div>
               </div>
            </div>
         </div>
      </div>



        <section class="member-area pt-90 pb-50 gb_body">
         <div class="container">
           
            <div class="row">
               <div class="col-xl-12">
                   <p style="text-align: center;">The Student Union in WIRAS College represents student interests and fosters their engagement in decision-making processes. Through organizing events and initiatives, the union promotes student welfare and cultural diversity. It serves as a platform for student voices, enhances leadership skills, and facilitates communication between students and the college administration.</p>
               </div>
               <div class="col-xl-3 col-lg-4 col-md-6">
                  <div class="member-main-wrapper mb-30">
                     <div class="member-body text-center">
                        <div class="member-item">
                           <div class="member-thumb">
                              <img src="{% static 'assets/img/council/profile1.png' %}" alt="member-img">
                           </div>
                           <div class="member-content">
                              <h4>Rahul Raj K.V </h4>
                              <span>CHAIRMAN</span>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-4 col-md-6">
                  <div class="member-main-wrapper mb-30">
                     <div class="member-body text-center">
                        <div class="member-item">
                           <div class="member-thumb">
                              <img src="{% static 'assets/img/council/profile1.png' %}" alt="member-img">
                           </div>
                           <div class="member-content">
                              <h4>Jumana Haseen</h4>
                              <span>VICE CHAIRMAN</span>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-4 col-md-6">
                  <div class="member-main-wrapper mb-30">
                     <div class="member-body text-center">
                        <div class="member-item">
                           <div class="member-thumb">
                              <img src="{% static 'assets/img/council/profile1.png' %}" alt="member-img">
                           </div>
                           <div class="member-content">
                              <h4>Vishnupriya K</h4>
                              <span>SECRETARY</span>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-4 col-md-6">
                  <div class="member-main-wrapper mb-30">
                     <div class="member-body text-center">
                        <div class="member-item">
                           <div class="member-thumb">
                              <img src="{% static 'assets/img/council/profile1.png' %}" alt="member-img">
                           </div>
                           <div class="member-content">
                              <h4>Fathima K P</h4>
                              <span>JOINT SECRETARY</span>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-4 col-md-6">
                  <div class="member-main-wrapper mb-30">
                     <div class="member-body text-center">
                        <div class="member-item">
                           <div class="member-thumb">
                              <img src="{% static 'assets/img/council/profile1.png' %}" alt="member-img">
                           </div>
                           <div class="member-content">
                              <h4>Muhammad Ijas Ismail</h4>
                              <span>SECRETARY , FINE ARTS</span>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-4 col-md-6">
                  <div class="member-main-wrapper mb-30">
                     <div class="member-body text-center">
                        <div class="member-item">
                           <div class="member-thumb">
                              <img src="{% static 'assets/img/council/profile1.png' %}" alt="member-img">
                           </div>
                           <div class="member-content">
                              <h4>Shabnam Haleema K N</h4>
                              <span>STUDENT EDITOR</span>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-4 col-md-6">
                  <div class="member-main-wrapper mb-30">
                     <div class="member-body text-center">
                        <div class="member-item">
                           <div class="member-thumb">
                              <img src="{% static 'assets/img/council/profile1.png' %}" alt="member-img">
                           </div>
                           <div class="member-content">
                              <h4>Muhammed Yaseen K P</h4>
                              <span>GENERAL CAPTAIN</span>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-4 col-md-6">
                  <div class="member-main-wrapper mb-30">
                     <div class="member-body text-center">
                        <div class="member-item">
                           <div class="member-thumb">
                              <img src="{% static 'assets/img/council/profile1.png' %}" alt="member-img">
                           </div>
                           <div class="member-content">
                              <h4>Hasna Ayisha Adam</h4>
                              <span>U.U.C</span>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>   
    </main>
    {% include 'frontpage/footer.html' %}
    {% endblock content %}