{% extends 'frontpage/base.html' %}
{% load static %}
    {% block seo %}
    <title>{{department.Seo_Title}}</title>
    <meta name="description" content="{{department.Seo_Description}}">
    <meta name="keywords" content="{{department.Seo_Keywords}}">
    {% endblock seo %}
    {% block content %}
    {% include 'frontpage/header.html' %}
    <main>
        <div class="hero-arera course-item-height" data-background="{% static 'assets/img/slider/course-slider.jpg' %}" style="min-height: 350px">
         <div class="container">
            <div class="row">
               <div class="col-xl-12">
                  <div class="hero-course-1-text">
                     <h2 style="font-size: 40px;">{{ department.Department_Title }}</h2>
                  </div>
                  <div class="course-title-breadcrumb">
                     <nav>
                        <ol class="breadcrumb">
                           <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                            <li class="breadcrumb-item"><a href=""><span>Department</span></a></li>
                           <li class="breadcrumb-item"><span>{{ department.Department_Title }}</span></li>
                        </ol>
                     </nav>
                  </div>
               </div>
            </div>
         </div>
      </div>
        
        <section class="course-detalis-area pb-0">
            <div class="container">
                <div class="row">
                    <div class=" col-xxl-8 col-xl-8">
                        <div class="course-detalis-wrapper mb-30">
                            
                            
                            <div class="course-description pb-30">

                                {% if department.Department_Description %}
                                    <div class="course-Description">
                                        <h4>OVERVIEW</h4>
                                    </div>
                                    <p>{{ department.Department_Description | safe }}</p>
                                {% endif %}

                                {% if department.Department_Vission %}
                                    <div class="course-Description">
                                        <h4>VISION</h4>
                                    </div>
                                    <p>{{ department.Department_Vission | safe }}</p>
                                {% endif %}

                                {% if department.Department_Mission %}
                                    <div class="course-Description">
                                        <h4>MISSION</h4>
                                    </div>
                                    <p>{{ department.Department_Mission | safe }}</p>
                                {% endif %}
                            </div>
                            <div class="course-learn-wrapper">
                                <div class="course-learn">
                                    <div class="course-leranm-tittle">
                                        <h4 class="mb-15">PROGRAMMES OFFERED</h4>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-6">
                                            <div class="course-leran-text f-left">
                                                <h6 class="mb-15">UG PROGRAMMES</h6>
                                                <ul>
                                                    {% for course in ug_courses %}
                                                        <li>{{ course.Course_Title }}</li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-xl-6">
                                            <div class="course-leran-text">
                                                <h6 class="mb-15">PG PROGRAMMES</h6>
                                                <ul>
                                                    {% for course in pg_courses %}
                                                        <li>{{ course.Course_Title }}</li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% if faculties %}
                            <div class="course-requirements pt-45">
                                <h4>FACULTIES</h4>
                                <div class="row">
                                    <div class="col-xl-12">
                                       <div class="brand-wrapper text-center">
                                          <div class="brand-wrapper text-center">
                                             <div class="swiper-container brand-active-fa">
                                                <!-- Additional required wrapper -->
                                                <div class="swiper-wrapper">
                                                   <!-- Slides -->
                                                   {% for faculty in faculties %}
                                                   <div class="swiper-slide">
                                                      <div class="member-main-wrapper mb-30">
                                                         <div class="member-body text-center">
                                                            <div class="member-item">
                                                               <div class="member-thumb">
                                                                {% if faculty.Faculty_Image %}
                                                                  <img src="{{ faculty.Faculty_Image.url }}" alt="member-img">
                                                                {% else %}
                                                                   <img src="{% static 'assets/img/profile-avatar.jpg' %}" alt="">
                                                                {% endif %}
                                                               </div>
                                                               <div class="member-content">
                                                                  <h4>{{ faculty.Faculty_Name }}</h4>
                                                                  <span>{{ faculty.Faculty_Designation }}</span>
                                                               </div>
                                                            </div>
                                                         </div>
                                                      </div>
                                                   </div>
                                                   {% endfor %}
                                                </div>
                                                <div class="category-nav">
                                                <div class="category-button-prev"><i class="far fa-long-arrow-left"></i></div>
                                                <div class="category-button-next"><i class="far fa-long-arrow-right"></i></div>
                                             </div>
                                             </div>
                                             
                                          </div>
                                       </div>
                                    </div>
                                 </div>                  
                              </div>
                            {% endif %}

                            {% if department.Department_Fecilities %}
                            <div class="course-requirements pt-45">
                                <h4>FACILITIES </h4>
                                <div class="course-requirements-text">
                                    <ul>
                                        <p>{{ department.Department_Fecilities | safe }}</p>
                                    </ul>
                                </div>
                            </div>
                            {% endif %}
                            
                            {% if activities %}
                            <div class="course-requirements pt-45">
                                <h4>ACTIVITIES </h4>
                                <div class="course-requirements-text">
                                    <div class="sidebar__widget">
                                        <div class="sidebar__widget-content">
                                            <div class="row">
                                                {% for post in activities %}
                                                <div class="col-lg-6">
                                                   <div class="rc__post-wrapper">
                                                      <div class="rc__post d-flex align-items-center">
                                                         <div class="rc__thumb mr-20">
                                                            {% if post.Post_Image %}
                                                                <a href="#"><img src="{{ post.Post_Image.url }}" alt=""></a>
                                                            {% else %}
                                                                <img src="{% static 'assets/img/noimage.jpg' %}" alt="">
                                                            {% endif %}
                                                         </div>
                                                         <div class="rc__content">
                                                            <div class="rc__meta">
                                                               <span>{{ post.Date }}</span>
                                                            </div>
                                                            <h6 class="rc__title"><a href="{% url 'news-details' post.Seo_Url %}">{{ post.Post_Title }}</a></h6>
                                                         </div>
                                                      </div>
                                                   </div>
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                     </div>
                                </div>
                            </div>
                            {% endif %}
                            {% if department.Department_Placement %}
                            <div class="course-curriculum pt-40 pb-50">
                                <div class="course-curriculam">
                                    <h4>PLACEMENT AND HIGHER STUDY</h4>
                                </div>
                                <p>{{ department.Department_Placement | safe }}</p>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    {% if posts %}
                    <div class="col-xxl-4 col-xl-4 col-lg-8 col-md-8">
                        <div class="course-video-widget">
                            <div class="course-widget-wrapper mb-30">
                                <div class="row my_bnh">
                                    {% for post in posts %}
                                    <div class="col-xl-6 col-lg-4 col-md-4 gallery_view">
                                        <div class="boxs-inner">
                                            <a rel="lightbox-demo" href="{{ post.Post_Image.url }}" title="WIRAS Library">
                                                <img class="img-responsive" src="{{ post.Post_Image.url }}" alt="WIRAS Library">
                                            </a>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </section>
    </main>
    {% include 'frontpage/footer.html' %}
    {% endblock content %}