{% extends 'frontpage/base.html' %}
{% load static %}
   {% block content %}
   {% include 'frontpage/header.html' %}
   <main>
      <div class="hero-arera course-item-height" data-background="{% static 'assets/img/slider/course-slider.jpg' %}">
       <div class="container">
          <div class="row">
             <div class="col-xl-12">
                <div class="hero-course-1-text">
                   <h2>Digital Wing</h2>
                </div>
                <div class="course-title-breadcrumb">
                   <nav>
                      <ol class="breadcrumb">
                         <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                         <li class="breadcrumb-item"><span>Digital Wing</span></li>
                      </ol>
                   </nav>
                </div>
             </div>
          </div>
       </div>
    </div>
      <section class="member-area pt-90 pb-50 gb_body">
       <div class="container">
          <div class="row">
             <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="member-main-wrapper mb-30">
                   <div class="member-body text-center">
                      <div class="member-item">
                         <div class="member-thumb">
                            <img src="{% static 'assets/img/digitalwing/soumya-rishin.jpg' %}" alt="member-img">
                         </div>
                         <div class="member-content">
                            <h4>Mrs. Soumya Rishin </h4>
                            <span>HOD COMPUTER SCIENCE</span>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
             <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="member-main-wrapper mb-30">
                   <div class="member-body text-center">
                      <div class="member-item">
                         <div class="member-thumb">
                            <img src="{% static 'assets/img/digitalwing/anand-tt.jpg' %}" alt="member-img">
                         </div>
                         <div class="member-content">
                            <h4>Mr.Anand T.T</h4>
                            <span>Dept of Chemistry</span>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
             <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="member-main-wrapper mb-30">
                   <div class="member-body text-center">
                      <div class="member-item">
                         <div class="member-thumb">
                            <img src="{% static 'assets/img/digitalwing/inthihab.jpg' %}" alt="member-img">
                         </div>
                         <div class="member-content">
                            <h4>Mr. Inthihab</h4>
                            <span>ADMINISTRATIVE OFFICER</span>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
             <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="member-main-wrapper mb-30">
                   <div class="member-body text-center">
                      <div class="member-item">
                         <div class="member-thumb">
                            <img src="{% static 'assets/img/digitalwing/KIRAN.jpg' %}" alt="member-img">
                         </div>
                         <div class="member-content">
                            <h4>Mr. Kiran</h4>
                            <span>SYSTEM ADMINISTRATOR</span>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </section>  
  </main>
  {% include 'frontpage/footer.html' %}
  {% endblock content %}