{% extends 'frontpage/base.html' %}
{% load static %}
   {% block content %}
   {% include 'frontpage/header.html' %}
    <style>
      h4{
         text-align: center;
      }
    </style>

    <main>
        <div class="hero-arera course-item-height" data-background="{% static 'assets/img/slider/course-slider.jpg' %}">
         <div class="container">
            <div class="row">
               <div class="col-xl-12">
                  <div class="hero-course-1-text">
                     <h2>Exam Schedule</h2>
                  </div>
                  <div class="course-title-breadcrumb">
                     <nav>
                        <ol class="breadcrumb">
                           <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                           <li class="breadcrumb-item"><span>Academics</span></li>
                           <li class="breadcrumb-item"><span>Exam Schedule</span></li>
                        </ol>
                     </nav>
                  </div>
               </div>
            </div>
         </div>
      </div>
        
      <div class="student-choose-area fix pt-110 pb-90">
         <div class="container">   
         <div class="row">  
          
           <section class="member-area pt-90 pb-50 gb_institutes">
               <div class="container">
                  <div class="row">
                     
                     {% for schedule in schedules %}
                     <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="member-main-wrapper mb-10">
                           <div class="member-body text-center">
                              <img src="{% static 'assets/img/exam.png' %}" alt="member-img">
                           </div>
                           <h4>{{ schedule.Title }}</h4>
                        </div>
                        <div class="sing-buttom mb-20">
                            <button class="sing-btn"><a href="{{ schedule.Schedule.url }}" download>Download</a></button>
                        </div>
                     </div>
                     {% endfor %}
                     
                  </div>
               </div>
            </section>
         </div>
         </div>
      </div>
    </main>
    {% include 'frontpage/footer.html' %}
    {% endblock content %}