{% extends 'frontpage/base.html' %}
{% load static %}
   {% block content %}
   {% include 'frontpage/header.html' %}
    <style>
       .student-choose-thumb img {
       max-width: 100%;
       height: 300px;
      }
    </style>

    <main>
        <div class="hero-arera course-item-height" data-background="{% static 'assets/img/slider/course-slider.jpg' %}">
         <div class="container">
            <div class="row">
               <div class="col-xl-12">
                  <div class="hero-course-1-text">
                     <h2>SSR</h2>
                  </div>
                  <div class="course-title-breadcrumb">
                     <nav>
                        <ol class="breadcrumb">
                           <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                           <li class="breadcrumb-item"><span>Facilities</span></li>
                           <li class="breadcrumb-item"><span>Seminar Hall</span></li>
                        </ol>
                     </nav>
                  </div>
               </div>
            </div>
         </div>
      </div>
        
      <div class="student-choose-area fix pt-110 pb-90">
         <div class="container">
            <div class="row">
               <div class="col-xl-5 col-lg-5">
                  <div class="student-wrapper mb-30">
                     <div class="section-title mb-10">
                        <h2>Seminar Hall</h2>
                     </div>
                     <div class="sitdent-choose-content">
                        <p>The Wiras College Seminar Hall stands as a dynamic space that inspires intellectual growth, fosters collaboration, and hosts a diverse range of engaging events. Equipped with cutting-edge technology and flexible seating arrangements, our Seminar Hall offers a platform for discussions, presentations, workshops, and seminars. With its adaptable seating configurations, the hall can accommodate various event formats, promoting interaction and active participation. The Wiras College Seminar Hall provides a stimulating ambiance, fostering an environment conducive to focused learning and creative exchange. Whether it's a renowned guest speaker, faculty-led seminar, or student-led initiative, the Seminar Hall serves as a catalyst for knowledge exchange, collaboration, and transformative learning experiences within the Wiras College community.</p>
                     </div> 
                  </div>
               </div>
               <div class="col-xl-2 col-lg-2">
                  <div class="student-wrapper position-relative">
                     <div class="shap-01">
                     </div>
                  </div>
               </div>
               <div class="col-xl-5 col-lg-5">
                  <div class="student-choose-wrapper position-relative mb-30">
                     <div class="shap-02">
                     </div>
                     <div class="shap-03">
                        <img src="{% static 'assets/img/student-shape-03.png' %}" alt="image not found">
                     </div>
                     <div class="shap-04">
                        <img src="{% static 'assets/img/student-shape-04.png' %}" alt="image not found">
                     </div>
                     <div class="shap-05">
                        <img src="{% static 'assets/img/student-shape-05.png' %}" alt="image not found">
                     </div>
                     <div class="shap-06">
                        <img src="{% static 'assets/img/student-shape-06.png' %}" alt="image not found">
                     </div>
                     <div class="shap-07">
                        <img src="{% static 'assets/img/student-shape-07.png' %}" alt="image not found">
                     </div>

                     <div class="student-choose-thumb">
                        <img src="{% static 'assets/img/student.png' %}" alt="image not found">
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
            
    </main>
    {% include 'frontpage/footer.html' %}
    {% endblock content %}