{% extends 'frontpage/base.html' %}
{% load static %}
   {% block content %}
   {% include 'frontpage/header.html' %}
    <main>
        <div class="hero-arera course-item-height" data-background="{% static 'assets/img/slider/course-slider.jpg' %}">
         <div class="container">
            <div class="row">
               <div class="col-xl-12">
                  <div class="hero-course-1-text">
                     <h2>BUS SERVICE</h2>
                  </div>
                  <div class="course-title-breadcrumb">
                     <nav>
                        <ol class="breadcrumb">
                           <li class="breadcrumb-item"><a href="{% url 'index' %}">Facilities</a></li>
                           <li class="breadcrumb-item"><span>Bus service</span></li>
                        </ol>
                     </nav>
                  </div>
               </div>
            </div>
         </div>
      </div>

        <div class="student-choose-area fix pt-110 pb-90">
         <div class="container">
            <div class="row">
               <div class="col-xl-5 col-lg-5">
                  <div class="student-wrapper mb-30">
                     <div class="section-title mb-10">
                        <h2>Bus service</h2>
                     </div>
                     <div class="sitdent-choose-content">
                        <p>WIRAS offers convenient and reliable bus services for its students and staff. The college buses are well-maintained and equipped with comfortable seating, ensuring a pleasant commuting experience. The bus routes cover various areas, making it convenient for students and staff to travel to and from the college. With punctual schedules and dedicated drivers, the bus services prioritize safety and efficiency, providing a hassle-free transportation option for the college community.</p>
                     </div> 
                  </div>
               </div>
               <div class="col-xl-2 col-lg-2">
                  <div class="student-wrapper position-relative">
                     <div class="shap-01">
                     </div>
                  </div>
               </div>
               <div class="col-xl-5 col-lg-5">
                  <div class="student-choose-wrapper position-relative mb-30">
                     <div class="shap-02">
                     </div>
                     <div class="shap-03">
                        <img src="{% static 'assets/img/student-shape-03.png' %}" alt="image not found">
                     </div>
                     <div class="shap-04">
                        <img src="{% static 'assets/img/student-shape-04.png' %}" alt="image not found">
                     </div>
                     <div class="shap-05">
                        <img src="{% static 'assets/img/student-shape-05.png' %}" alt="image not found">
                     </div>
                     <div class="shap-06">
                        <img src="{% static 'assets/img/student-shape-06.png' %}" alt="image not found">
                     </div>
                     <div class="shap-07">
                        <img src="{% static 'assets/img/student-shape-07.png' %}" alt="image not found">
                     </div>

                     <div class="student-choose-thumb">
                        <img src="{% static 'assets/img/student.png' %}" alt="image not found">
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>    
    </main>
   {% include 'frontpage/footer.html' %}
   {% endblock content %}