{% load static %}
<!-- footer-area-start -->
    <footer>
        <div class="university-footer-area pt-80 pb-30">
            <div class="footer">
                <div class="container">
                    <div class="footer-main">
                        <div class="row">
                            <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6">
                                <div class="university-footer-widget uf-w1 mb-40">
                                    <div class="footer-widget-head">
                                        <div class="footer-logo mb-30">
                                            <a href="{% url 'index' %}">
                                                <img src="{% static 'assets/img/logo/logo.png' %}" alt="image not found">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="university-footer-widget-body">
                                        <p class="mb-30">Great lesson ideas and lesson plans for ESL teachers! Educators
                                            can customize
                                            lessons as best plans to knowledge.</p>

                                        <div class="university-footer-icon">
                                            <ul>
                                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                                <li><a href="#"> <i class="fab fa-linkedin-in"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6">
                                <div class="university-footer-widget uf-w2 mb-40">
                                    <div class="university-footer-widget-head mb-35">
                                        <h4 class="university-footer-widget-title">About WIRAS</h4>
                                    </div>
                                    <div class="university-footer-widget-body">
                                        <div class="university-footer-link">
                                            <ul>
                                                <li><a href="{% url 'about-wiras' %}">About Wiras</a></li>
                                                <li><a href="{% url 'mission-vision' %}">Mission & Vision</a></li>
                                                <li><a href="{% url 'governing-body' %}">Leaders</a></li>
                                                <li><a href="{% url 'collage-council' %}">College Council</a></li>
                                                <li><a href="{% url 'administration' %}">Administration</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6">
                                <div class="university-footer-widget uf-w3 mb-40">
                                    <div class="university-footer-widget-head mb-35">
                                        <h4 class="university-footer-widget-title">Support</h4>
                                    </div>
                                    <div class="university-footer-widget-body">
                                        <div class="university-footer-link">
                                            <ul>
                                                <li><a href="{% url 'anti-ragging-cell' %}">Anti-Ragging Cell</a></li>
                                                <li><a href="{% url 'grievance-cell' %}">Grievance Cell</a></li>
                                                <li><a href="{% url 'womens-cell' %}">Women's Cell</a></li>
                                                <li><a href="{% url 'ethic-committee' %}">Ethic Committee</a></li>
                                                <li><a href="{% url 'collage-union' %}">College Students Union</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6">
                                <div class="university-footer-widget uf-w4 mb-40">
                                    <div class="footer-widget-head mb-35">
                                        <h4 class="footer-widget-title">Newsletter</h4>
                                    </div>
                                    <div class="university-footer-widget-body">
                                        <div class="university-footer-subscribe">
                                            <form action="#">
                                                <div class="university-footer-subscribe position-relative mb-35">
                                                    <div class="field po">
                                                        <input type="email" placeholder="Enter email">
                                                    </div>
                                                    <button type="submit">
                                                        <i class="fas fa-paper-plane"></i>
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="university-sub-footer">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-5">
                        <div class="sub-footer-text">
                            <span>© Copyrighted & Made with <i class="fa fa-heart" aria-hidden="true" style="color: #6eb852;"></i> by <a href="https://weblanza.com" style="color: #fff;" target="_blank">Weblanza</a>
                            </span>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-7">
                        <div class="sub-footer-link">
                            <ul>
                                <li><a href="{% url 'complaints' %}">Complaint Registration</a></li>
                                <li><a href="{% url 'contact' %}">Contact</a></li>
                                <li><a href="#">Sitemap</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer-area-end -->

    <!-- back to top start -->
    <div class="progress-wrap">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>
    <!-- back to top end -->