{% extends 'frontpage/base.html' %}
{% load static %}
   {% block content %}
   {% include 'frontpage/header.html' %}
    <main>
        <div class="hero-arera course-item-height" data-background="{% static 'assets/img/slider/course-slider.jpg' %}">
         <div class="container">
            <div class="row">
               <div class="col-xl-12">
                  <div class="hero-course-1-text">
                     <h2>Gallery</h2>
                  </div>
                  <div class="course-title-breadcrumb">
                     <nav>
                        <ol class="breadcrumb">
                           <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                           <li class="breadcrumb-item"><span>Gallery</span></li>
                        </ol>
                     </nav>
                  </div>
               </div>
            </div>
         </div>
      </div>
        
        
      <!-- course-content-start -->
      <div class="course-content-area pb-50 pt-90">
         <div class="container">
            <div class="row">
                {% for album in albums %}
                <div class="col-xl-4 col-lg-4 col-md-4 gallery_view">
                    <a href="{% url 'view-gallery' album.id %}">
                        {% if album.Cover_Image %}
                            <img src="{{ album.Cover_Image.url }}" alt="">
                        {% else %}
                            <img src="{% static 'assets/img/noimage.jpg' %}" alt="">
                        {% endif %}
                        <h3> {{ album.Album_Title }} </h3>
                    </a>
                </div>
                {% endfor %}
            </div>
         </div>
      </div>
        
    </main>
    {% include 'frontpage/footer.html' %}
    {% endblock content %}