{% extends 'frontpage/base.html' %}
{% load static %}
   {% block content %}
   {% include 'frontpage/header.html' %}
    <main>
        <div class="hero-arera course-item-height" data-background="{% static 'assets/img/slider/course-slider.jpg' %}">
         <div class="container">
            <div class="row">
               <div class="col-xl-12">
                  <div class="hero-course-1-text">
                     <h2>Governing Body</h2>
                  </div>
                  <div class="course-title-breadcrumb">
                     <nav>
                        <ol class="breadcrumb">
                           <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                           <li class="breadcrumb-item"><span>Governing Body</span></li>
                        </ol>
                     </nav>
                  </div>
               </div>
            </div>
         </div>
      </div>
        
        <section class="member-area pt-90 pb-50 gb_body">
         <div class="container">
            <div class="row">
               <div class="col-xl-3 col-lg-4 col-md-6">
                  <div class="member-main-wrapper mb-30">
                     <div class="member-body text-center">
                        <div class="member-item">
                           <div class="member-thumb">
                              <img src="{% static 'assets/img/gb/vkhamzaabbas.jpg' %}" alt="member-img">
                           </div>
                           <div class="member-content">
                              <h4>VK Hamza Abbas</h4>
                              <span>CHAIRMAN</span>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-4 col-md-6">
                  <div class="member-main-wrapper mb-30">
                     <div class="member-body text-center">
                        <div class="member-item">
                           <div class="member-thumb">
                              <img src="{% static 'assets/img/gb/sapabdulsalam.jpg' %}" alt="member-img">
                           </div>
                           <div class="member-content">
                              <h4>S.A.P Abdussalam</h4>
                              <span>VICE CHAIRMAN</span>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-4 col-md-6">
                  <div class="member-main-wrapper mb-30">
                     <div class="member-body text-center">
                        <div class="member-item">
                           <div class="member-thumb">
                              <img src="{% static 'assets/img/gb/kksuhail2.jpg' %}" alt="member-img">
                           </div>
                           <div class="member-content">
                              <h4>K.K Suhail</h4>
                              <span>VICE CHAIRMAN</span>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-4 col-md-6">
                  <div class="member-main-wrapper mb-30">
                     <div class="member-body text-center">
                        <div class="member-item">
                           <div class="member-thumb">
                              <img src="{% static 'assets/img/gb/farooq-usman-2023.jpg' %}" alt="member-img">
                           </div>
                           <div class="member-content">
                              <h4>Farook Usman</h4>
                              <span>GENERAL SECRETARY</span>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-4 col-md-6">
                  <div class="member-main-wrapper mb-30">
                     <div class="member-body text-center">
                        <div class="member-item">
                           <div class="member-thumb">
                              <img src="{% static 'assets/img/gb/musthafaibrahim.jpg' %}" alt="member-img">
                           </div>
                           <div class="member-content">
                              <h4>Musthafa Ibrahim</h4>
                              <span>SECRETARY</span>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-4 col-md-6">
                  <div class="member-main-wrapper mb-30">
                     <div class="member-body text-center">
                        <div class="member-item">
                           <div class="member-thumb">
                              <img src="{% static 'assets/img/gb/muhammed-kunji.jpg' %}" alt="member-img">
                           </div>
                           <div class="member-content">
                              <h4>A.Muhammed Kunhi</h4>
                              <span>TREASURER</span>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-4 col-md-6">
                  <div class="member-main-wrapper mb-30">
                     <div class="member-body text-center">
                        <div class="member-item">
                           <div class="member-thumb">
                              <img src="{% static 'assets/img/gb/sajidpk.jpg' %}" alt="member-img">
                           </div>
                           <div class="member-content">
                              <h4>P.K Muhammed Sajid</h4>
                              <span>TRUST MEMBER</span>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
                  <div class="member-main-wrapper mb-30">
                     <div class="member-body text-center">
                        <div class="member-item">
                           <div class="member-thumb">
                              <img src="{% static 'assets/img/gb/tk-mohammed-riaz.jpg' %}" alt="member-img">
                           </div>
                           <div class="member-content">
                              <h4>T.K Muhammed Riaz</h4>
                              <span>TRUST MEMBER</span>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
                  <div class="member-main-wrapper mb-30">
                     <div class="member-body text-center">
                        <div class="member-item">
                           <div class="member-thumb">
                              <img src="{% static 'assets/img/gb/vk-khalid.jpg' %}" alt="member-img">
                           </div>
                           <div class="member-content">
                              <h4>V.K Khalid</h4>
                              <span>TRUST MEMBER</span>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
                  <div class="member-main-wrapper mb-30">
                     <div class="member-body text-center">
                        <div class="member-item">
                           <div class="member-thumb">
                              <img src="{% static 'assets/img/gb/pcpusman.jpg' %}" alt="member-img">
                           </div>
                           <div class="member-content">
                              <h4>Dr. PCP Usman</h4>
                              <span>TRUST MEMBER</span>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
                  <div class="member-main-wrapper mb-30">
                     <div class="member-body text-center">
                        <div class="member-item">
                           <div class="member-thumb">
                              <img src="{% static 'assets/img/gb/moosa.jpg' %}" alt="member-img">
                           </div>
                           <div class="member-content">
                              <h4>NM Moosa Master</h4>
                              <span>TRUST MEMBER</span>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
                  <div class="member-main-wrapper mb-30">
                     <div class="member-body text-center">
                        <div class="member-item">
                           <div class="member-thumb">
                              <img src="{% static 'assets/img/gb/alikkutty.jpg' %}" alt="member-img">
                           </div>
                           <div class="member-content">
                              <h4>Alikutty K</h4>
                              <span>TRUST MEMBER</span>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
                  <div class="member-main-wrapper mb-30">
                     <div class="member-body text-center">
                        <div class="member-item">
                           <div class="member-thumb">
                              <img src="{% static 'assets/img/gb/slpsidheeq.jpg' %}" alt="member-img">
                           </div>
                           <div class="member-content">
                              <h4>Sidheeque SLP</h4>
                              <span>TRUST MEMBER</span>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
                  <div class="member-main-wrapper mb-30">
                     <div class="member-body text-center">
                        <div class="member-item">
                           <div class="member-thumb">
                              <img src="{% static 'assets/img/gb/azad.jpg' %}" alt="member-img">
                           </div>
                           <div class="member-content">
                              <h4>Azad SAP</h4>
                              <span>TRUST MEMBER</span>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
                  <div class="member-main-wrapper mb-30">
                     <div class="member-body text-center">
                        <div class="member-item">
                           <div class="member-thumb">
                              <img src="{% static 'assets/img/gb/shareef.jpg' %}" alt="member-img">
                           </div>
                           <div class="member-content">
                              <h4>Shareef VV</h4>
                              <span>TRUST MEMBER</span>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
        
    </main>
    {% include 'frontpage/footer.html' %}
    {% endblock content %}