{% extends 'frontpage/base.html' %}
{% load static %}
   {% block content %}
   {% include 'frontpage/header.html' %}
    <main>
        <div class="hero-arera course-item-height" data-background="{% static 'assets/img/slider/course-slider.jpg' %}">
         <div class="container">
            <div class="row">
               <div class="col-xl-12">
                  <div class="hero-course-1-text">
                     <h2>IQAC</h2>
                  </div>
                  <div class="course-title-breadcrumb">
                     <nav>
                        <ol class="breadcrumb">
                           <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                           <li class="breadcrumb-item"><span>IQAC</span></li>
                        </ol>
                     </nav>
                  </div>
               </div>
            </div>
         </div>
      </div>
        

     
       <!--  <div class="know-us-better-area pb-90">
         <div class="container">
            <div class="know-us-border pt-110">
               <div class="row justify-content-center">
                  <div class="col-xl-10 col-lg-12">
                     <div class="row">
                        <div class="col-xl-6 col-lg-6">
                           <div class="section-title mb-55">
                              <h2>Introduction </h2>
                                 <p>Internal Quality Assurance Cell (IQAC) is functioning in the college to develop a system for conscious and consistent action to improve the academic and administrative performance of the institution and to promote measures for quality culture and institutionalisation of best practices towards quality enhancement. </p>
                           </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 justify-content-end">
                           <div class="know-us-tittle mb-55">
                              <p>It develops quality parameters for various academic and administrative activities of the institution. The Cell facilitates the creation of learner-centric environment conducive to quality education to adopt the required knowledge and technology for participatory teaching and learning process. It takes feedback from students, parents and other stakeholders on quality related institutional processes.</p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               
            </div>
         </div>
      </div> -->

        <div class="student-choose-area fix pt-110 pb-90">
         <div class="container">
            <div class="row">
               <div class="col-xl-5 col-lg-5">
                  <div class="student-wrapper mb-30">
                     <div class="section-title mb-10">
                        <h2>Internal Quality Assurance Cell (IQAC)</h2>
                     </div>
                     <div class="sitdent-choose-content">
                        <p>Internal Quality Assurance Cell (IQAC) is functioning in the college to develop a system for conscious and consistent action to improve the academic and administrative performance of the institution and to promote measures for quality culture and institutionalisation of best practices towards quality enhancement. It develops quality parameters for various academic and administrative activities of the institution. The Cell facilitates the creation of learner-centric environment conducive to quality education to adopt the required knowledge and technology for participatory teaching and learning process. It takes feedback from students, parents and other stakeholders on quality related institutional processes. 
                        </p>
                        
                     </div> 
                     
                  </div>
               </div>
               <div class="col-xl-2 col-lg-2">
                  <div class="student-wrapper position-relative">
                     <div class="shap-01">
                     </div>
                  </div>
               </div>
               <div class="col-xl-5 col-lg-5">
                  <div class="student-choose-wrapper position-relative mb-30">
                     <div class="shap-02">
                     </div>
                     <div class="shap-03">
                        <img src="{% static 'assets/img/student-shape-03.png' %}" alt="image not found">
                     </div>
                     <div class="shap-04">
                        <img src="{% static 'assets/img/student-shape-04.png' %}" alt="image not found">
                     </div>
                     <div class="shap-05">
                        <img src="{% static 'assets/img/student-shape-05.png' %}" alt="image not found">
                     </div>
                     <div class="shap-06">
                        <img src="{% static 'assets/img/student-shape-06.png' %}" alt="image not found">
                     </div>
                     <div class="shap-07">
                        <img src="{% static 'assets/img/student-shape-07.png' %}" alt="image not found">
                     </div>

                     <div class="student-choose-thumb">
                        <img src="{% static 'assets/img/student.png' %}" alt="image not found">
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div> 
      

      <!-- Start Event Details Area -->
      <section class="event-details-area pb-100">
         <div class="container">
            <div class="row">
               <div class="col-lg-12" style="padding-bottom: 10px; text-align: center;">
                  <div class="section-title">
                   <h2>Composition </h2>
                </div>
               </div>
               <div class="col-lg-6">
                  <div class="main-default-content mr-15">
                    
                           <div class="event-sidebar ml-15">
                     <div class="event-single-sidebar">
                        <ul>
                           <li>
                             Dr. Aboo Ishaque P. K (Principal)
                              <span>Chairman</span>
                           </li>
                           <li>
                              Mr. Purushothaman M. V (HoD English)   
                              <span>Coordinator</span>
                           </li>
                           <li>
                              Ms. Nimitha K. V
                              <span>Asst. coordinator</span>
                           </li>
                           <li>
                              Prof. Saheed V. K
                              <span>Asst. coordinator</span>
                           </li>
                           <li>
                              Engr. Muhammed Riyas (Manager WIRAS)
                              <span>Member</span>
                           </li>
                           <li>
                              Mr. Ali Kutty, (Exicutive Officer WIRAS) 
                              <span>Member</span>
                           </li>
                           <li>
                              XXXXX (Alumni Representative) 
                              <span>Member</span>
                           </li>
                           <li>
                              XXXXX (PTA Representative) 
                              <span>Member</span>
                           </li>
                          
                        </ul>
                     </div>
                  </div>
                  </div>
               </div>

               <div class="col-lg-6">
                  <div class="main-default-content mr-15">
                     
                           <div class="event-sidebar ml-15">
                     <div class="event-single-sidebar">
                        <ul>
                           
                           <li>
                              XXXXX (Students’ Representative) 
                              <span>Member</span>
                           </li>
                           <li>
                              Mr. Subair M (Dept. of Psychology) 
                              <span>Member</span>
                           </li>
                           <li>
                              Ms Gana KV (Dept. of Computer Science) 
                              <span>Member</span>
                           </li>
                           <li>
                              Ms. Nivedya Das (Dept. of English)
                              <span>Member</span>
                           </li>
                           <li>
                              Ms. Neethu T (Dept. of Commerce) 
                              <span>Member</span>
                           </li>
                           <li>
                              Ms. Ancy S.S. (Dept. of Physics)
                              <span>Member</span>
                           </li>
                           <li>
                              Ms. Roopa V.V. (Dept. of Chemistry) 
                              <span>Member</span>
                           </li>
                           <li>
                              Ms. Dhanuja (Librarian)
                              <span>Member</span>
                           </li>

                           

                        </ul>
                     </div>
                  </div>
                  </div>
               </div>


               <!-- <div class="col-lg-4">
                  
               </div> -->
            </div>
         </div>
      </section>
      <!-- End Event Details Area -->   
    </main>
   {% include 'frontpage/footer.html' %}
   {% endblock content %}