{% extends 'frontpage/base.html' %}
{% load static %}
   {% block seo %}
   <title>{{news.Seo_Title}}</title>
   <meta name="description" content="{{news.Seo_Description}}">
   <meta name="keywords" content="{{news.Seo_Keywords}}">
   {% endblock seo %}
   {% block content %}
   {% include 'frontpage/header.html' %}
   <style>
      .blog-thumb {
         height: auto;
      }
   </style>
    <main>
        <div class="hero-arera course-item-height" data-background="{% static 'assets/img/slider/course-slider.jpg' %}">
         <div class="container">
            <div class="row">
               <div class="col-xl-12">
                  <div class="hero-course-1-text">
                     <h2>News & Events</h2>
                  </div>
                  <div class="course-title-breadcrumb">
                     <nav>
                        <ol class="breadcrumb">
                           <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                           <li class="breadcrumb-item"><span>News & Events</span></li>
                        </ol>
                     </nav>
                  </div>
               </div>
            </div>
         </div>
      </div>
        
        <div class="blog-area pt-90 pb-50">
         <div class="container">
            <div class="row">

               <div class="col-xl-8 col-lg-12">
                  <div class="blog-main-wrapper mb-0">
                     <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12">
                           <div class="blog-wrapper position-relative blog-details-wrapper mb-30">
                              <div class="blog-thumb ">
                                 {% if news.Post_Image %}
                                    <img src="{{ news.Post_Image.url }}" alt="blog-img">
                                 {% endif %}
                              </div>
                              <div class="blog-tag">
                                 <i class="fal fa-folder-open"></i>
                                 <a href="#">{{ news.Post_Category }}</a>
                              </div>
                              <div class="blog-content-wrapper">
                                 <div class="blog-meta">
                                    <div class="blog-date">
                                       <i class="flaticon-calendar"></i>
                                       <span>{{ news.Date|date:"d-M-Y" }}</span>
                                    </div>
                                 </div>
                                 <div class="blog-content">
                                     <h4 class="mb-20">{{ news.Post_Title }}</h4>
                                    <p>{{ news.Post_Description | safe }}</p>
                                 </div>
                              </div>
                              
                           </div>
                        </div>
                     </div>

                  </div>

               </div>
               <div class="col-xl-4 col-lg-8 col-md-8">
                  <div class="sidebar-widget-wrapper">
                     
                     <div class="sidebar__widget mb-30">
                        <div class="sidebar__widget-head mb-35">
                           <h4 class="sidebar__widget-title">Recent Posts</h4>
                        </div>
                        <div class="sidebar__widget-content">
                           <div class="rc__post-wrapper">
                              {% for news in latest_news %}
                              <div class="rc__post d-flex align-items-center">
                                 <div class="rc__thumb mr-20">
                                    <a href="{% url 'news-details' news.Seo_Url %}">
                                       {% if news.Post_Image %}
                                          <img src="{{ news.Post_Image.url }}" alt="">
                                       {% endif %}
                                    </a>
                                 </div>
                                 <div class="rc__content">
                                    <div class="rc__meta">
                                       <span>{{ news.Date|date:"d-M-Y" }}</span>
                                    </div>
                                    <h6 class="rc__title"><a href="{% url 'news-details' news.Seo_Url %}">{{ news.Post_Title }}</a></h6>
                                 </div>
                              </div>
                              {% endfor %}
                           </div>
                        </div>
                     </div>
                     
                  </div>
               </div>
            </div>
         </div>
      </div>
        
    </main>
    {% include 'frontpage/footer.html' %}
    {% endblock content %}