{% extends 'frontpage/base.html' %}
{% load static %}
   {% block content %}
   {% include 'frontpage/header.html' %}
    <style>
       .f-wt{
         font-weight: 700;
         font-size: 24px;
       }
    </style>
    <main>
        <div class="hero-arera course-item-height" data-background="{% static 'assets/img/slider/course-slider.jpg' %}">
         <div class="container">
            <div class="row">
               <div class="col-xl-12">
                  <div class="hero-course-1-text">
                     <h2>PTA</h2>
                  </div>
                  <div class="course-title-breadcrumb">
                     <nav>
                        <ol class="breadcrumb">
                           <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                           <li class="breadcrumb-item"><span>Student Support</span></li>
                           <li class="breadcrumb-item"><span>PTA</span></li>
                        </ol>
                     </nav>
                  </div>
               </div>
            </div>
         </div>
      </div>
        
        <div class="student-choose-area fix pt-110 pb-90">
         <div class="container">
            <div class="row">
               <div class="col-xl-5 col-lg-5">
                  <div class="student-wrapper mb-30">
                     <div class="section-title mb-10">
                        <h2>Parent Teacher Association</h2>
                     </div>
                     <div class="sitdent-choose-content">
                        <p>The PTA serves as a platform for collaboration and communication between parents and teachers. It promotes parent involvement in their child's education, facilitates meaningful interactions, and supports the overall development of students. Through various initiatives and activities, the PTA fosters a strong partnership between the college and parents, enhancing the educational experience for all stakeholders.
                        </p>
                         
                     </div> 
                     
                  </div>
               </div>
               <div class="col-xl-2 col-lg-2">
                  <div class="student-wrapper position-relative">
                     <div class="shap-01">
                     </div>
                  </div>
               </div>
               <div class="col-xl-5 col-lg-5">
                  <div class="col-xl-6 col-lg-6" style="float: left; padding: 10px;">
                     <img src="{% static 'assets/img/avatar2.png' %}" alt="" style="width: 100%;">
                     <p class="f-wt" style="font-size: 20px; margin-top: 10px; text-align: center;"><span> Mr. Rajeevan ET</span><br><span style="font-size: 14px;color: #d10000;">(PTA Secretary)</span></p>
                  </div>
                  <div class="col-xl-6 col-lg-6" style="float: right; padding: 10px;">
                     <img src="{% static 'assets/img/avatar2.png' %}" alt="" style="width: 100%;">
                     <p class="f-wt" style="font-size: 20px; margin-top: 10px; text-align: center;"><span> Mr. Pratheepan</span><br><span style="font-size: 14px;color: #d10000;">(Staff Secretary)</span></p>
                  </div>
                  <!-- <div class="student-choose-wrapper position-relative mb-30">
                     <div class="shap-02">
                     </div>
                     <div class="shap-03">
                        <img src="{% static 'assets/img/student-shape-03.png' %}" alt="">
                     </div>
                     <div class="shap-04">
                        <img src="{% static 'assets/img/student-shape-04.png' %}" alt="">
                     </div>
                     <div class="shap-05">
                        <img src="{% static 'assets/img/student-shape-05.png' %}" alt="">
                     </div>
                     <div class="shap-06">
                        <img src="{% static 'assets/img/student-shape-06.png' %}" alt="">
                     </div>
                     <div class="shap-07">
                        <img src="{% static 'assets/img/student-shape-07.png' %}" alt="">
                     </div>

                     <div class="student-choose-thumb">
                        <img src="{% static 'assets/img/avatar1.png' %}" alt="">
                     </div><br>
                     <p class="f-wt">Secretary: <span> Mr. Prateepan</span><br><span style="font-size: 16px;color: #d10000;">(Assistant Professor, Dept. of Malayalam)</span></p>
                  </div> -->
               </div>
            </div>
         </div>
      </div>
        
       
    </main>
    {% include 'frontpage/footer.html' %}
    {% endblock content %}